{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}Teams{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Teams</h1>
    <div class="ass">
      {% if user.is_admin %}
      <a href="{% url 'teamnew'%}" class="btn-submit">create team</a>
      {% endif %}
    </div>
    <div class="ass">
      {% if user.is_admin %}
      <a href="{% url 'officer_dashboard'%}" class="btn-submit">Home</a>
      {% endif %}
    </div>
  </div>

  <div class="filterlist glue">
    <div class="lo">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>District</th>
              <th>Sport</th>
              <th>Gender</th>
              <th>Athletes</th>
              <th>Album</th>
              {% if user.is_staff %}
              <th>Accred</th>

              <th>Delete</th>
            </tr>
            {% endif %}
          </thead>
          <tbody>
            {% for team in teams %}
            <tr>
              <td>
                <a href="">
                  {% for officer in team.team_officer.officer_profile.all %}
                  {{officer.district}} {% empty %}
                  <p>No district found</p>
                  {% endfor %}
                </a>
              </td>
              <td>{{team.team_sport}}</td>
              <td>{{team.team_gender}}</td>
              <td>{{team.athletes.count}} athletes</td>

              <td><a href="{%url 'dalbum' team.id %}"> Album</a></td>
              {% if user.is_staff %}
              <td>
                <a href="{%url 'accred' team.id %}">Accreditation</a>
                <a href="{%url 'cert' team.id %}">Certificate</a>
              </td>

              <td>
                <a href="{%url 'deleteteam' team.id%}" class="btn btn-danger"
                  >Delete</a
                >
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
