{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}New Team{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>New Team</h1>
    {% if errors %}
    <ul>
      {% for field, error_list in errors.items %} {% for error in error_list %}
      <li>{{ field }}: {{ error }}</li>
      {% endfor %} {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class='btn btn-primary'>Submit</button>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      $(".select2").select2();
    });
  </script>
  <script src="{%static 'scripts/api.js'%}"></script>

  {% endblock %}
</div>
