{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}New Team{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head">
    <h1>New Team</h1>
    {% if errors %}
    <ul>
      {% for field, error_list in errors.items %} {% for error in error_list %}
      <li>{{ field }}: {{ error }}</li>
      {% endfor %} {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="team-form">
        <div class="field">
          <label for="">{{form.team_sport.label}}</label>
          {{form.team_sport}}
        </div>
        <div class="field">
          <label for="">{{form.team_gender.label}}</label>
          {{form.team_gender}}
        </div>

        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Names</th>
              <th>Lin</th>
              <th>School</th>
              <th>Gender</th>
              <th>Sport</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            {% for athlete in form.athletes%}
            <tr>
              <td>{{athlete}}</td>
              <td>{{athlete.lin}}</td>
              <td>{{athlete.school}}</td>
              <td>{{athlete.gender}}</td>
              <td>{{athlete.sport}}</td>
              <td>{{athlete.age}}</td>
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      $(".select2").select2();
    });
  </script>
  <script src="{%static 'scripts/api.js'%}"></script>

  {% endblock %}
</div>
