{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Officials{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Officers</h1>
    <a href="{% url 'districtoff'%}" class="btn-submit">Add Officer</a>
  </div>
  <div class="filterlist glue">
    
   
    <div class="filterlist glue">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>names</th>
              <th>Role</th>
              <th>nin</th>
              <th>contact</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for official in tofficers%}
            <tr>
              <td>
                <a href="{% url 'toff' official.id%}"
                  >{{official.first_name}} {{official.last_name}}</a
                >
              </td>
              <td>{{official.role}}</td>
              <td>{{official.nin}}</td>
              <td>{{official.phone_number}}</td>
              <td>{{official.email}}</td>
              <td>{{official.gender}}</td>
              <td><a href="{%url 'deloff' official.id%}">delete</a></td>
            </tr>
  
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    

    </div>
  </div>
</div>
{% endblock %}
