<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Shafiq" />

    <!-- Google tag (gtag.js) -->


    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/fav.png' %}"
    />
    <!-- Libs CSS -->
    {% include "assets/css.html" %}

    <title>Sign In | UPSSA - Uganda Primary Schools Sports Association</title>
  </head>

  <body>
    <!-- container -->
    <main class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
          <div class="position-absolute end-0 top-0 p-8">
            <div class="dropdown">
              <button
                class="btn btn-ghost btn-icon rounded-circle"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                aria-label="Toggle theme (auto)"
              >
                <i class="bi theme-icon-active"></i>
                <span class="visually-hidden bs-theme-text">Toggle theme</span>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-end shadow"
                aria-labelledby="bs-theme-text"
              >
                <li>
                  <button
                    type="button"
                    class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="light"
                    aria-pressed="false"
                  >
                    <i class="bi theme-icon bi-sun-fill"></i>
                    <span class="ms-2">Light</span>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="dark"
                    aria-pressed="false"
                  >
                    <i class="bi theme-icon bi-moon-stars-fill"></i>
                    <span class="ms-2">Dark</span>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="dropdown-item d-flex align-items-center active"
                    data-bs-theme-value="auto"
                    aria-pressed="true"
                  >
                    <i class="bi theme-icon bi-circle-half"></i>
                    <span class="ms-2">Auto</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <!-- Card -->
          <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="card-body p-6">
              <div class="mb-4">
                <a href="../index.html"
                  ><img
                    src="{% static 'images/uni.png'%}"
                    class="mb-2 text-inverse"
                    alt="Image"
                /></a>
                <p class="mb-6">Please enter your user information.</p>
              </div>
              <!-- Display non-field errors -->
              {% if form.non_field_errors %}
              <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}

              <!-- Form -->
              <form method="POST" action="" class="form-ctrl" novalidate>
                {% csrf_token %}

                <!-- Username or Email Field -->
                <div class="mb-3">
                  <label for="username" class="form-label"
                    >Username or email</label
                  >
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"
                      >@</span
                    >
                    <input
                      type="text"
                      name="username"
                      class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                      placeholder="Username"
                      value="{{ form.username.value|default:'' }}"
                      required
                    />
                    {% if form.username.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.username.errors %}{{ error }}
                      {%endfor %}
                    </div>
                    {% else %}
                    <div class="invalid-feedback">
                      Please enter your username.
                    </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Password Field -->
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <div class="input-group has-validation">
                    <input
                      type="password"
                      name="password"
                      class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                      placeholder="Password"
                      id="Password"
                      required
                    />
                    <span class="input-group-text" id="eye" onclick="passview()"
                      >view</span
                    >
                    {% if form.password.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}{{ error }}
                      {%endfor %}
                    </div>
                    {% else %}
                    <div class="invalid-feedback">
                      Please enter your password.
                    </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Checkbox -->
                <div
                  class="d-lg-flex justify-content-between align-items-center mb-4"
                >
                  <div class="form-check custom-checkbox">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="rememberme"
                    />
                    <label class="form-check-label" for="rememberme"
                      >Remember me</label
                    >
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div>

                <div class="d-md-flex justify-content-between mt-4">
                  <div class="mb-2 mb-md-0">
                    <a href="/" class="fs-5">Home</a>
                  </div>
                  <div>
                    <a
                      href="{% url 'password_reset' %}"
                      class="text-inherit fs-5"
                      >Forgot your password?</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Scripts -->
    <script>
      const password = document.getElementById("Password");
      const eye = document.querySelector("#eye");
      const passview = () => {
        if (password.type == "password") {
          password.type = "text";
          eye.innerText = "view";
          eye.innerText = "hide";
        } else {
          password.type = "password";
          eye.innerText = "hide";
          eye.innerText = "view";
        }
      };
    </script>
    <!-- Libs JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@6.2.1/dist/simplebar.min.js"></script>

  </body>
</html>
