.schools-dew {
  width: 100%;
  padding: 20px;

  .head {
    overflow: hidden;
    h3 {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 10px;
    }
    a {
      font-weight: 500;
    }
  }
  .filterlist {
    padding: 10px;
    overflow-x: auto;
    margin: auto;
    .official-list {
      text-transform: none;
    }
  }
}
