{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{athlete.fname}} {{athlete.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="athlete-dew content-wrapper">
  <div class="athlete flex">
    <div class="img-ath">
      {% if athlete.photo %}
      <img src="{{athlete.photo.url}}" alt="" />
      {% else %}
      <img src="{% static 'images/profile.png'%}" alt="" />{% endif %}
    </div>
    <div class="line-ath">
      <h1>{{athlete.fname}} {{athlete.lname}}</h1>
      <span>A000{{athlete.id}}</span> | <span>{{athlete.gender}}</span> |
      <span>{{ age}} Years</span>
      <hr />
      <div class="small-details grid3">
        <span
          >LIN:
          <h3>{{athlete.lin}}</h3></span
        >
        <span
          >Sport:
          <h3>{{athlete.sport}}</h3></span
        >
        <span
          >Date of Birth:
          <h3>{{athlete.date_of_birth}}</h3></span
        >
        <span
          >Class:
          <h3>{{athlete.classroom}}</h3></span
        >
        <span
          >Registration date:
          <h3>{{athlete.created}}</h3></span
        >
        <span><a href="" class="btn btn-primary">Deactivate athlete</a></span>
      </div>
    </div>
  </div>
  <div class="downgrade grid2">
    <div class="athletesa">
      <h3>Guardian Infor</h3>
      <hr />
      <div class="athlete-details card">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Names</td>
              <td>{{athlete.Parent_fname}} {{athlete.Parent_lname}}</td>
            </tr>
            <tr>
              <td>NIN</td>
              <td>{{athlete.parent_nin}}</td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>{{athlete.parent_phone_number}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{athlete.address}}</td>
            </tr>
            <tr>
              <td>Job</td>
              <td>{{athlete.designation}}</td>
            </tr>
            <tr>
              <td>Relationship</td>

              <td>{{athlete.relationship}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
