<html lang="en">
  {%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School-Registration | USSSA</title>
    <link rel="icon" href="{%static 'images/upsa.png'%}" sizes="35x35" />
    <link rel="stylesheet" href="{% static 'css/profile/school_new.css'%}" />
    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="profile-update">
      <div class="school-long">
        <form
          action=""
          method="POST"
          class="form-ctrl"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="fields flex">
            <div class="left grid2">
              <div class="imgbox">
                <div class="field">
                  <label>{{form.badge.label}} </label>
                  {% if form.instance.badge %}
                  <img
                    src="{{ form.instance.badge.url }}"
                    id="image-preview"
                    alt="Current Photo"
                  />
                  {% else %}

                  <img
                    src="{% static 'images/bade.png'%}"
                    id="image-preview"
                    alt="No Photo"
                  />
                  {% endif %}
                </div>
                <div class="field">
                  <input
                    type="file"
                    name="badge"
                    accept="image/*"
                    onchange="displayImage(this);"
                    id="id_badge"
                  />
                </div>
              </div>
              <div class="fiil">
                <div class="field flex">
                  <label>{{ form.school_name.label}}</label>
                  {{form.school_name}}
                </div>
                <div class="field flex">
                  <label>{{ form.center_number.label}}</label>
                  {{form.center_number}}
                </div>

                <div class="field flex">
                  <label>{{ form.EMIS.label}} </label>{{form.EMIS}}
                </div>

                <div class="field">
                  <label>Region:</label>
                  {{form.region}}
                </div>
                <div class="field">
                  <label for="district">{{form.district.label }}</label>
                  {{form.district}}
                </div>
                <div class="field">
                  <label for="county">{{form.municipality.label }}</label>
                  {{form.municipality}}
                </div>
                <div class="field">
                  <label for="subcounty">{{form.city.label }}</label>
                  {{form.city}}
                </div>
                <button type="submit" class="btn-submit">Save profile</button>
              </div>
            </div>
          </div>
          {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors.as_ul }}
          </div>
          {% endif %}
        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
  </body>
</html>
