{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %} {% block content %}
<div class="profileupdate">
  <h1>Add Athlete</h1>
  <form
    action=""
    method="POST"
    class="form-ctrl glue"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="fields grid2">
      <div class="left">
        <h2>Athlete Info</h2>
        <div class="field">
          <label>{{form.photo.label}} </label>{% if form.instance.photo %}
          <img
            src="{{ form.instance.photo.url }}"
            id="image-preview"
            alt="Current Photo"
          />
          {% else %}

          <img
            src="{% static 'images/profile.png'%}"
            id="image-preview"
            alt="No Photo"
          />
          {% endif %}
        </div>
        <div class="field">
          <input
            type="file"
            name="photo"
            accept="image/*"
            onchange="displayImage(this);"
            id="id_photo"
          />
        </div>
        <div class="field-grid grid2">
          <div class="field"><label>First Name</label>{{form.fname}}</div>
          <div class="field"><label>Middle Name</label>{{form.mname}}</div>
        </div>
        <div class="field-grid grid2">
          <div class="field"><label>Last Name</label>{{form.lname}}</div>
          <div class="field"><label>LIN</label>{{form.lin}}</div>
        </div>
      </div>
      <div class="left">
        <div class="field-grid grid2">
          <div class="field"><label>Sport</label>{{form.sport}}</div>
          <div class="field"><label>Gender</label>{{form.gender}}</div>
        </div>
        <div class="field-grid grid2">
          <div class="field"><label>Class</label>{{form.classroom}}</div>
          <div class="field">
            <label>Date of Birth</label>{{form.date_of_birth}}
          </div>
        </div>
        <h2>Parent/ Guardian Info</h2>
        <div class="field-grid grid2">
          <div class="field">
            <label>Parent's First name</label>{{form.Parent_fname}}
          </div>
          <div class="field">
            <label>Parent's Last name</label>{{form.Parent_lname}}
          </div>
        </div>
        <div class="field-grid grid2">
          <div class="field"><label>Parent's NIN</label>{{form.parent_nin}}</div>
          <div class="field">
            <label>Parent's contact</label>{{form.parent_phone_number}}
          </div>
        </div>
        <div class="field-grid grid2">
          <div class="field"><label>Address</label>{{form.address}}</div>
          <div class="field"><label>Designation</label>{{form.designation}}</div>
        </div>
        <div class="field-grid grid2">
          <div class="field"><label>Relationship</label>{{form.relationship}}</div>
        </div>
        <button type="submit" class="btn-submit">Save athlete</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
