{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{official.fname}} {{athlete.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="athlete-dew">
  <div class="athlete grid3">
    <div class="img glue">
      {% if official.photo %}
      <img src="{{official.photo.url}}" alt="" />
      {% else %}
      <img src="{% static 'images/profile.png'%}" alt="" />{% endif %}
    </div>
    <div class="athlete-details glue">
      Official's info
      <hr>
      <span
        >Names:
        <h3>{{official.name}}</h3></span
      >
      <span
        >NIN:
        <h3>{{official.nin}}</h3></span
      >
      <span
        >Email:
        <h3>{{official.email}}</h3></span
      >
      <span
        >Date of Birth:
        <h3>{{official.date_of_birth}}</h3></span
      >
      <span
        >Role:
        <h3>{{official.role}}</h3></span
      >
      <span
        >Contact:
        <h3>{{official.phone_number}}</h3></span
      >
    </div>
  </div>
</div>
{% endblock %}
