{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %} {% block content %}
<div class="soverview">
  <div class="school-box glue">
    <div class="attr"><span>Name : </span>{{school.school_name}}</div>
    <div class="attr"><span>EMIS : </span>{{school.EMIS}}</div>
    <div class="attr">
      <span>Center Number : </span>{{school.center_number}}
    </div>
    <div class="attr"><span>Region : </span>{{school.region}}</div>
    <div class="attr"><span>District : </span>{{school.district}}</div>
    <div class="attr"><span>County : </span>{{school.county}}</div>
    <div class="attr"><span>Subcounty : </span>{{school.subcounty}}</div>
  </div>
</div>
{% endblock %}
