{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Dashboard{% endblock %}
<!---->
{% block content %}
<div class="soverview">
  <div class="school-box glue grid3">
    <div class="school">
      <h1>School info</h1>
      <div class="attr"><span>Name : </span>{{school.school_name}}</div>
      <div class="attr"><span>EMIS : </span>{{school.EMIS}}</div>
      <div class="attr">
        <span>Center Number : </span>{{school.center_number}}
      </div>
      <div class="attr"><span>Region : </span>{{school.region}}</div>
      <div class="attr"><span>District : </span>{{school.district}}</div>
      <div class="attr">
        <span>Municipality : </span>{{school.municipality}}
      </div>
      <div class="attr"><span>City : </span>{{school.city}}</div>
    </div>
    <div class="school">
      <h1>Head Teacher</h1>
      <div class="attr">
        <span>Name : </span>{{school.fname}} {{school.lname}}
      </div>
      <div class="attr"><span>NIN : </span>{{school.nin}}</div>
      <div class="attr"><span>Email : </span>{{school.email}}</div>
      <div class="attr"><span>Phone : </span>{{school.phone_number}}</div>
      <div class="attr"><span>Gender : </span>{{school.gender}}</div>
      <div class="attr">
        <span>Date of Birth : </span>{{school.date_of_birth}}
      </div>
    </div>
    <div class="school">
      <h1>Head Teacher</h1>
      <div class="attr">
        <span>Name : </span>{{school.gfname}} {{school.glname}}
      </div>
      <div class="attr"><span>NIN : </span>{{school.gnin}}</div>
      <div class="attr"><span>Email : </span>{{school.gemail}}</div>
      <div class="attr"><span>Phone : </span>{{school.gphone}}</div>
      <div class="attr"><span>Gender : </span>{{school.ggender}}</div>
      <div class="attr">
        <span>Date of Birth : </span>{{school.gdate_of_birth}}
      </div>
    </div>
  </div>
  <div class="dextails">
    <div class="tabs-section">
      <div class="tabs-container">
        <div class="tabs">
          <button class="tab" aria-selected="true" id="js">Athletes</button>
          <button class="tab" aria-selected="false" id="ruby">Officials</button>
        </div>
        <div class="content">
          <div class="tabpanel glue" aria-labelledby="js">
            <div class="athletelist">
              <div class="filter">
                <form action="" method="get" class="formis grid5">
                  <div class="field flex">
                    <label>{{myAFilter.form.fname.label}}</label>
                    {{myAFilter.form.fname}}
                  </div>
                  <div class="field flex">
                    <label>{{myAFilter.form.sport.label}}</label>
                    {{myAFilter.form.sport}}
                  </div>
                  <div class="field flex">
                    <label>Class</label>
                    {{myAFilter.form.classroom}}
                  </div>
                  <div class="field flex">
                    <label>{{myAFilter.form.gender.label}}</label>
                    {{myAFilter.form.gender}}
                  </div>
                  <button type="submit" class="btn-submit">filter</button>
                </form>
              </div>

              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Name
                        </th>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                          Sport
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          LIN
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Gender
                        </th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for athlete in athletelist%}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img
                                src="{{event.event_photo.url}}"
                                class="avatar avatar-sm me-3 border-radius-lg"
                                alt="user1"
                              />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{athlete.fname}} {{athlete.lname}}</h6>
                             
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{athlete.sport}}</p>
                         
                        </td>
                        <td class="align-middle text-center text-sm">
                          <p class="text-xs font-weight-bold mb-0">{{athlete.lin}} </p
                          >
                        </td>
                        <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold"
                            >{{athlete.gender}}</span
                          >
                        </td>
                        <td class="align-middle">
                          <a
                            href="{%url 'athlete' athlete.id%}"
                            class="text-secondary font-weight-bold text-xs"
                            data-toggle="tooltip"
                            data-original-title="Edit user"
                          >
                            Edit
                          </a>
                        </td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tabpanel glue" aria-labelledby="ruby" hidden>
            <div class="head flex">
              <h3>Schools</h3>
              <button class="btn-submit" onclick="officialPage()">Add official</a>
            </div>
            <div class="athletelist">
              <div class="filter">
                <form action="" method="get" class="formis grid5">
                  <div class="field flex">
                    <label>{{myFilter.form.name.label}}</label>
                    {{myFilter.form.name}}
                  </div>
                  <div class="field flex">
                    <label>Role</label>
                    {{myFilter.form.role}}
                  </div>
                  <div class="field flex">
                    <label>{{myFilter.form.gender.label}}</label>
                    {{myFilter.form.gender}}
                  </div>
                  <button type="submit" class="btn-submit">filter</button>
                </form>
              </div>
              <div class="titles grid05">
                <span>name</span>
                <span>role</span>
                <span>nin</span>
                <span>gender</span>
                <span>email</span>
              </div>
              <div class="official-list">
                {% for official in officialist%}
                <div class="school grid05">
                  <a href="{%url 'official' official.id%}"
                    ><span>{{official.name}} </span>
                  </a>
                  <span>{{official.role}} </span>
                  <span>{{official.nin}} </span>
                  <span>{{official.gender}}</span>
                  <span>{{official.email}}</span>
                </div>
                <hr />
                {%endfor%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
