{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %} {% block content %}
<div class="sooverview">
  <div class="boxed"> <a href="{% url 'schoolpdate' school.id%}" class='btn-green'
      ><i class="fa fa-pencil-square" aria-hidden="true"></i>Edit profile
    </a>
    <div class="school-box glue">
      <div class="attr"><span>Name : </span>{{school.school_name}}</div>
      <div class="attr"><span>EMIS : </span>{{school.EMIS}}</div>
      <div class="attr">
        <span>Center Number : </span>{{school.center_number}}
      </div>
      <div class="attr"><span>Region : </span>{{school.region}}</div>
      <div class="attr"><span>District : </span>{{school.district}}</div>
      <div class="attr">
        <span>Municipality : </span>{{school.municipality}}
      </div>
      <div class="attr"><span>City : </span>{{school.city}}</div>
     
    </div>
    <div class="row">
      <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
            >
              <i class="fa fa-user"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Athletes</p>
              <h4 class="mb-0">{{athletes_count}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3 flex">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{athletes_bcount}} </span
              >Boys
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{athletes_gcount}} </span
              >Girls
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 mb-xl-0 mb-6">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute"
            >
              <i class="fa fa-user-secret"></i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Officials</p>
              <h4 class="mb-0">{{officials_count}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3 flex">
            <p class="mb-0">
              <span class="text-danger text-sm font-weight-bolder"
                >{{officials_bcount}}</span
              >
              Male
            </p>
            <p class="mb-0">
              <span class="text-danger text-sm font-weight-bolder"
                >{{officials_gcount}}</span
              >
              Female
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
