{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{% block title %} | UGANDA PRIMARY SCHOOLS SPORTS ASSOCIATION{% endblock %}
<!---->
{% block content %}
<!-- Content Wrapper START -->
<div id="app-content">
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="d-flex justify-content-between align-items-center mb-5">
            <h3 class="mb-0">welcome to your dashboard</h3>
           
          </div>
        </div>
      </div>
      <div class="bg-primary rounded-3">
        <div class="row mb-5">
          <div class="col-lg-12 col-md-12 col-12">
            <div
              class="p-6 d-lg-flex justify-content-between align-items-center"
            >
              <div class="d-md-flex align-items-center">
                <img
                  src="../assets/images/avatar/avatar-3.jpg"
                  alt="Image"
                  class="rounded-circle avatar avatar-xl"
                />
                <div class="ms-md-4 mt-3 mt-md-0 lh-1">
                  <h3 class="text-white mb-0">Good afternoon, Jitu Chauhan</h3>
                  <small class="text-white">
                    Here is what’s happening with your projects today:</small
                  >
                </div>
              </div>
              <div class="d-none d-lg-block">
                <a href="#!" class="btn btn-white">What’s New!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-md-12 col-12 mb-5">
          <div class="row row-cols-lg-2 row-cols-1 g-5">
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="fw-semi-bold">Athletes</span>
                    <span
                      ><i data-feather="activity" class="text-gray-400"></i
                    ></span>
                  </div>
                  <div class="mt-4 mb-2">
                    <h3 class="fw-bold mb-0">{{athletes_count}}</h3>
                  </div>
                  <span class="text-success">{{athletes_bcount}} Boys</span> |
                  <small>{{athletes_gcount}} Girls</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="fw-semi-bold">Officials</span>
                    <span
                      ><i data-feather="pie-chart" class="text-gray-400"></i
                    ></span>
                  </div>
                  <div class="mt-4 mb-2">
                    <h3 class="fw-bold mb-0">{{officials_count}}</h3>
                  </div>
                  <span class="text-success">{{officials_bcount}} Male</span> |
                  <small>{{officials_gcount}} Female</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="fw-semi-bold">Teams</span>
                    <span
                      ><i data-feather="send" class="text-gray-400"></i
                    ></span>
                  </div>
                  <div class="mt-4 mb-2">
                    <h3 class="fw-bold mb-0">{{teams}}</h3>
                  </div>
                  <span class="text-danger">{{teams_bcount}} Boys</span>
                  <small>{{teams_gcount}} Girls</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="fw-semi-bold"></span>
                    <span
                      ><i data-feather="clock" class="text-gray-400"></i
                    ></span>
                  </div>
                  <div class="mt-4 mb-2">
                    <h3 class="fw-bold mb-0"></h3>
                  </div>
                  <span class="text-success"
                    ><i class="me-1 icon-xs" data-feather="arrow-up"></i
                  ></span>
                  <small></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-12 col-12 mb-5">
          <div class="card h-100">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h4 class="mb-0">{{school.school_name}}</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive table-card">
                <table class="table text-nowrap mb-0 table-centered">
                  <tbody>
                    <tr>
                      <td>EMIS:</td>
                      <td>{{school.EMIS}}</td>
                    </tr>
                    <tr>
                      <td>CENTER NUMBER:</td>
                      <td>{{school.center_number}}</td>
                    </tr>
                    <tr>
                      <td>DISTRICT</td>
                      <td>{{school.district}}</td>
                    </tr>
                    <tr>
                      <td>REGION</td>
                      <td>{{school.region}}</td>
                    </tr>
                    <tr>
                      <td>EMAIL:</td>
                      <td>{{school.email}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 mb-5">
        <div class="card h-100">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h4 class="mb-0">athletes</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-card">
              <table class="table text-nowrap mb-0 table-centered">
                <tbody>
                  {% for athlete in athletes %}
                  <tr>
                    <td>
                      <div class="d-flex">
                        <a href="#!">
                          <img
                            src="{{athlete.photo.url}}"
                            alt="Image"
                            style="width: 40px"
                        /></a>
                        <div class="ms-3 lh-1">
                          <h5 class="mb-0">
                            <a href="#!" class="text-inherit"
                              >{{athlete.fname}} {{athlete.lname}}</a
                            >
                          </h5>
                          <small>{{athlete.lin}}</small>
                        </div>
                      </div>
                    </td>
                    <td>{{athlete.sport}}</td>
                    <td>
                      <div class="lh-1">
                        <h5 class="mb-0">{{athlete.date_of_birth}}</h5>
                        <small>{{athlete.age}}</small>
                      </div>
                    </td>
                    <td class="text-dark">{{athlete.gender}}</td>
                    <td>{{athlete.classroom}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Wrapper END -->
    {% endblock %}
  </div>
</div>
