{% extends "horizon/dascore.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Payment{% endblock %}

<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{total_schools}}</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Schools</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{schools_count}}</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium">
                      +{{schools_today}} today
                    </p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Championships</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{total_earnings}}</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium">
                      +{{total_pending}} pending
                    </p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success">
                    <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Earnings</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0">{{total_transactions}}</h3>
                    <p class="text-success ml-2 mb-0 font-weight-medium">
                      +3.5%
                    </p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="icon icon-box-success">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">transactions</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Schools by Championship</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="myTable" class="display">
                      <thead>
                        <tr>
                          <th><h4>Championship</h4></th>
                          <th><h4>Schools</h4></th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for item in schools_per_champs %}
                        <tr>
                          <td>{{ item.championship__name }}</td>
                          <td>{{ item.count }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Athletes by Championship</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="mypTable" class="display">
                      <thead>
                        <tr>
                          <th><h4>Championship</h4></th>
                          <th><h4>Athletes</h4></th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for item in athletes_per_champ %}
                        <tr>
                          <td>{{ item.championship__name }}</td>
                          <td>{{ item.count }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Schools by Sport</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="myqTable" class="display">
                      <thead>
                        <tr>
                          <th><h4>Sport</h4></th>
                          <th><h4>Schools</h4></th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for item in school_per_sport %}
                        <tr>
                          <td>{{ item.sport__name }}</td>
                          <td>{{ item.count }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Athletes by Sport</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="myaTable" class="display">
                      <thead>
                        <tr>
                          <th><h4>Sport</h4></th>
                          <th><h4>Athletes</h4></th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for item in athletes_per_sport %}
                        <tr>
                          <td>{{ item.sport__name }}</td>
                          <td>{{ item.count }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
