{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %} {% block content %}

<style>
  .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .error-message {
    background-color: red;
    color: white;
  }

  .success-message {
    background-color: #4caf50;
    color: white;
  }
</style>
<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="mb-5">
            <h2>Athlete Info</h2>
            <p>All fields labeled with <span>*</span> must be filled.</p>
          </div>
        </div>
      </div>
      <div>
        <!-- row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form
                action=""
                method="POST"
                class="form-ctrl card-body"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <div class="fields">
                  <div class="leftp">
                    {% if messages %}
                    <div class="messages">
                      {% for message in messages %}
                      <div
                        class="alert {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}"
                      >
                        {{ message }}
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                    <div class="left0">
                      <div class="imgbox">
                        <div class="field">
                          <label>{{form.photo.label}} </label>
                          <div
                            id="photos_preview"
                            class="preview-container"
                          ></div>
                        </div>
                        <div class="field">
                          <input
                            type="file"
                            name="photo"
                            accept="image/*"
                            id="id_photo"
                          />
                        </div>
                      </div>

                      <div class="lefty">
                        <div class="field-grid grid3">
                          <div class="field">
                            <label>First Name</label>{{form.fname}}
                          </div>
                          <div class="field">
                            <label>Middle Name</label>{{form.mname}}
                          </div>
                          <div class="field">
                            <label>Last Name</label>{{form.lname}}
                          </div>
                        </div>

                        <div class="field-grid grid2">
                          <div class="field">
                            <label>Learner's Identification Number</label
                            >{{form.lin}}
                          </div>

                          <div class="field">
                            <label>Sport</label>{{form.sport}}
                          </div>
                          <div class="field">
                            <label>Gender</label>{{form.gender}}
                          </div>

                          <div class="field">
                            <label>Class</label>{{form.classroom}}
                          </div>
                          <div class="field">
                            <label for="date_of_birth">Date of Birth:</label>
                            {{ form.date_of_birth }}
                          </div>

                          <div class="field">
                            <label for="id_age">Age</label>
                            <select
                              name="age"
                              class="form-control"
                              required
                              id="id_age"
                            >
                              <option value="">---------</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <h2>Parent/ Guardian Info</h2>
                    <p>
                      Ensure information provided below corresponds to that on
                      official documents.
                    </p>
                    <hr />
                    <div class="left1">
                      <div class="lefte">
                        <div class="field-grid grid3">
                          <div class="field">
                            <label>Parent's First name</label
                            >{{form.Parent_fname}}
                          </div>
                          <div class="field">
                            <label>Parent's Last name</label
                            >{{form.Parent_lname}}
                          </div>

                          <div class="field">
                            <label>Parent's NIN</label>{{form.parent_nin}}
                          </div>
                          <div class="field">
                            <label>Parent's contact</label
                            >{{form.parent_phone_number}}
                          </div>

                          <div class="field">
                            <label>Address</label>{{form.address}}
                          </div>

                          <div class="field">
                            <label>Job</label>{{form.designation}}
                          </div>

                          <div class="field">
                            <label>Relationship</label>{{form.relationship}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn-submit">Save athlete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const dobField = document.getElementById("id_date_of_birth");
      const ageDropdown = document.getElementById("id_age");

      dobField.addEventListener("change", function () {
        const dateOfBirth = dobField.value;

        if (dateOfBirth) {
          fetch(`/calculate_age_choices/?date_of_birth=${dateOfBirth}`)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Error fetching age choices");
              }
              return response.json();
            })
            .then((data) => {
              // Clear existing options
              ageDropdown.innerHTML = '<option value="">---------</option>';

              // Populate dropdown with new options
              data.ages.forEach(([id, name]) => {
                const option = document.createElement("option");
                option.value = id;
                option.textContent = name;
                ageDropdown.appendChild(option);
              });
            })
            .catch((error) => console.error("Fetch error:", error));
        } else {
          // Reset the dropdown if no date is selected
          ageDropdown.innerHTML = '<option value="">---------</option>';
        }
      });
    });
  </script>
</div>
{% endblock %}
