<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="color: red">Hello Kampala</h1>
    <hr />
    <h3>{{school.school_name}}</h3>
    <h3>{{school.EMIS}}</h3>
    <h3>{{school.district}}</h3>
    <div class="athletes">
      {% for athlete in athletes %}
      <h1>{{athlete.fname}}</h1>
      <img src="{{ athlete.photo.url }}" alt="" />

      {% endfor %}
    </div>
  </body>
</html>
