{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %} {% block content %}
<div class="sooverview">
  <div class="boxed">
    <div class="school-box flex">
      <div class="left flex">
        <img src="{{officer.photo.url}}" alt="" />
        <a href="{% url 'editofficer' officer.id%}" class='btn btn-submit'>Edit profile</a>
      </div>
      <div class="left">
        <div class="attr">
          <span>Name : </span>{{officer.first_name}}{{officer.last_name}}
        </div>
        <div class="attr"><span>EMIS : </span>{{officer.nin}}</div>
        <div class="attr">
          <span>Center Number : </span>{{officer.date_of_birth}}
        </div>
        <div class="attr"><span>Region : </span>{{officer.region}}</div>
        <div class="attr"><span>District : </span>{{officer.district}}</div>
        <div class="attr"><span>Email : </span>{{officer.email}}</div>
        <div class="attr"><span>Contact : </span>{{officer.phone_number}}</div>
      </div>
    </div>
  </div>
  <div class="filterlist glue">
    <h2>Schools</h2>
    <div class="lo">
      <div class="official-list">
        <table id="myaTable" class="display">
          <thead>
            <tr>
              <th>School</th>
              <th>Emis</th>
              <th>Status</th>
              <th>region</th>
              <th>District</th>
              {% if user.is_staff %}
              <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for school in schools%}
            <tr>
              <td>
                <a href="{% url 'schooldetail' school.id%}"
                  >{{school.school_name}}</a
                >
              </td>
              <td>{{school.EMIS}}</td>
              <td>{{school.status}}</td>
              <td>{{school.region}}</td>
              <td>{{school.district}}</td>
              {% if user.is_staff %}
              <td>
                <div class="report">
                  <a href="{% url 'schoolupdate' school.id%}"
                    ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                  </a>
                  <a href="{% url 'delschool' school.id%}"
                    ><i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                  <a href="{%url 'activate' school.id %}"
                    ><i class="fa fa-th" aria-hidden="true"></i>
                  </a>
                </div>
              </td>
              {% endif %}
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="filterlist glue">
    <h2>Athletes</h2>
    <div class="lo">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Names</th>
              <th>Lin</th>
              <th>School</th>
              <th>Gender</th>
              <th>Sport</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            {% for athlete in athletes%}
            <tr>
              <td>
                <a href="{% url 'athlete' athlete.id%}"
                  >{{athlete.fname}} {{athlete.lname}}</a
                >
              </td>
              <td>{{athlete.lin}}</td>
              <td>{{athlete.school}}</td>
              <td>{{athlete.gender}}</td>
              <td>{{athlete.sport}}</td>
              <td>{{athlete.age}}</td>
              <!--<td>
                <a href="{% url 'updateathlete' athlete.id%}" class="del"
                  ><i class="fa fa-pencil"></i
                ></a>
              </td>-->
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
