{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}{{school.school_name}}{% endblock %}
<!---->
{% block content %}

<form method="post">
  {% csrf_token %}
  <label for="number_of_athletes">Number of Athletes:</label>
  <input
    type="number"
    id="number_of_athletes"
    name="number_of_athletes"
    min="1"
  /><br /><br />

  <label for="phone_number">Phone Number to Debit:</label>
  <input type="text" id="phone_number" name="phone_number" /><br /><br />

  <label for="selected_athletes">Select Athletes:</label>
  <select name="selected_athletes" id="selected_athletes" multiple>
    {% for athlete in athletes %}
    <option value="{{ athlete.id }}">{{ athlete.name }}</option>
    {% endfor %}</select
  ><br /><br />

  <button type="submit">Calculate Total</button>
</form>

{% endblock %}
