{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Athletes{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Athletes</h1>

    <a href="{% url 'addathlete'%}" class="btn-submit">Add Athlete</a>
  </div>

  <div class="filterlist glue">
    <div class="lo">
      <div class="official-list">
        <form id="athleteForm" method="POST">
          {% csrf_token %}
          <table id="myTable" class="display">
            <thead>
              <tr>
                <th>Select</th>
                <th>Names</th>
                <th>Lin</th>
                <th>School</th>
                <th>Gender</th>
                <th>Sport</th>
                <th>Age</th>
              </tr>
            </thead>
            <tbody>
              {% for athlete in athletes %}
              <tr>
                <td>
                  <input type="checkbox" name="selected_athletes" value="{{ athlete.id }}">
                </td>
                <td>
                  <a href="{% url 'athlete' athlete.id %}">{{ athlete.fname }} {{ athlete.lname }}</a>
                </td>
                <td>{{ athlete.lin }}</td>
                <td>{{ athlete.school }}</td>
                <td>{{ athlete.gender }}</td>
                <td>{{ athlete.sport }}</td>
                <td>{{ athlete.age }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <h3>{{total_amount}}</h3>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
