{% extends "horizon/dascore.html" %}
<!--static-->
{% block title %}Teams{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="mb-5">
            <h3 class="mb-0">
              {{ officer.first_name }} {{ officer.last_name }}
            </h3>
          </div>
        </div>
      </div>
      <div>
        <div class="row align-items-center">
          <!-- Image column (30%) -->
          <div class="col-md-4 col-12">
            <img
              src="{{ officer.photo.url }}"
              alt=""
              class="img-fluid rounded"
            />
          </div>

          <!-- Details column (70%) -->
          <div class="col-md-8 col-12">
            <ul class="list-unstyled">
              <li>{{ officer.nin }}</li>
              <li>{{ officer.email }}</li>
              <li>{{ officer.district }}</li>
              <li>{{ officer.gender }}</li>
              <li>{{ officer.phone_number }}</li>
            </ul>
            <a href="{% url 'tocrred' officer.id%}" class="btn btn-primary">
              <i data-feather="download" class="icon-xs"></i
              ><span>Accreditation</span>
            </a>
            <a href="{% url 'tocert' officer.id%}" class="btn btn-primary">
              <i data-feather="download" class="icon-xs"></i
              ><span>Certification</span>
            </a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table id="example" class="display table" style="width: 100%">
            <thead>
              <tr>
                <th>names</th>
                <th>Role</th>
                <th>District</th>
                <th>contact</th>
                <th>Gender</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for official in officers%}
              <tr>
                <td>
                  <a href="{% url 'toff' official.id%}"
                    >{{official.first_name}} {{official.last_name}}</a
                  >
                </td>
                <td>{{official.role}}</td>
                <td>{{official.district}}</td>
                <td>{{official.phone_number}}</td>
                <td>{{official.gender}}</td>
                <td>
                  <a
                    href="#!"
                    class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                    data-template="eyeOne"
                  >
                    <i data-feather="eye" class="icon-xs"></i>
                    <div id="eyeOne" class="d-none">
                      <span>View</span>
                    </div>
                  </a>
                  <a
                    href="#!"
                    class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                    data-template="editOne"
                  >
                    <i data-feather="edit" class="icon-xs"></i>
                    <div id="editOne" class="d-none">
                      <span>Edit</span>
                    </div>
                  </a>
                  <a
                    href="{% url 'deltoff' official.id%}"
                    class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                    data-template="trashOne"
                  >
                    <i data-feather="trash-2" class="icon-xs"></i>
                    <div id="trashOne" class="d-none">
                      <span>Delete</span>
                    </div>
                  </a>
                </td>
              </tr>

              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
