.header {
  text-align: center;
  h1 {
    text-transform: uppercase;
    color: rgb(0, 0, 119);
    text-align: center;
    font-weight: bold;
  }
  h3{
    text-transform: uppercase;
    font-size: 19px;
  }
}
