{% extends "dashboard/dashboard.html" %} {% load static %} {% block title %}Add
Team{% endblock %} {% block content %}
<div class="teaming">
  <h1>Add Team</h1>

  <form
    action=""
    method="POST"
    class="form-control formiks"
    enctype="multipart/form-data"
    id="teamform"
  >
    {% csrf_token %}
    <div class="fields flex">
      <div class="left">
        <div class="field flex">
          <label>{{ form.name.label}} </label>{{form.name}}
        </div>
        <div class="field flex">
          <label>{{ form.sport.label}} </label>{{form.sport}}
        </div>
        <div class="field flex">
          <label>{{ form.gender.label}} </label>{{form.gender}}
        </div>
        <div class="field flex">
          <label>{{ form.age.label}} </label>{{form.age}}
        </div>
        <div class="field flex">
          <label>{{ form.championship.label}} </label>{{form.championship}}
        </div>
      </div>

      <div class="select2 select2-container select2-container--default">
        <label for="{{ form.athletes.id_for_label }}"
          >{{ form.athletes.label }}</label
        >
        {{ form.athletes }}
      </div>
    </div>
    <button type="submit" class="btn-submit">Add team</button>
    {% if form.errors %}
    <ul class="errorlist">
      {% for field, errors in form.errors.items %} {% for error in errors %}
      <li>{{ field|title }}: {{ error }}</li>
      {% endfor %} {% endfor %}
    </ul>
    {% endif %}
  </form>
</div>

<script>
  $(document).ready(function () {
    $(".select2-multiple").select2({
      placeholder: "Select athletes",
      allowClear: true,
    });
  });
</script>
<script src="{% static 'scripts/api.js'%}"></script>
{% endblock %}
