{% extends "dashboard/dashboard.html" %}
<!--  -->
{%load static%}
<!--  -->
{%block title%}{{team.name}}{%endblock%}
<!--  -->
{%block content%}
<div class="team-page">
  <div class="teams grid2">
    {% for athlete in team.athletes.all %}
    <div class="team grid2">
      <div class="image">
        <img src="{{athlete.photo.url}}" alt="" />
      </div>
      <div class="content">
        <h2>{{athlete.fname}} {{athlete.lname}}</h2>
        <h2>{{team.team_sport}}</h2>
        <h2>{{team.team_age}}</h2>
        <h2>{{athlete.date_of_birth}}</h2>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}
