{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}Teams{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Teams</h1>
    <div class="ass">
      {% if user.is_school %}
      <a href="{% url 'new_team'%}" class="btn-submit">create team</a>
      {% endif %}
    </div>
  </div>

  <div class="filterlist glue">
    <div class="lo">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>TEAM</th>
              <th>SPORT</th>
              <th>GENDER</th>
              <th>ATHLETES</th>
              <th>ACTIONS</th>
              <th>ALBUM</th>
              {% if user.is_staff %}
              <th>acc</th>

              <th>Delete</th>
            </tr>
            {% endif %}
          </thead>
          <tbody>
            {% for team in teams %}
            <tr>
              <td>
                <a href="{%url 'steam' team.id%}">{{team.school}} </a>
              </td>
              <td>{{team.championship}} | {{team.sport}}</td>
              <td>{{team.gender}}</td>
              <td>{{team.athletes.count}} athletes</td>
              <td><a href="{%url 'updategteam' team.id%}">edit</a></td>

              <td>
                {% if team.status == Active %}<a
                  href="{% url 'sdalbum' team.id %}"
                >
                  Album</a
                >{% else %}PAY TO ACTIVATE {% endif %}
              </td>
              {% if user.is_staff %}
              <td>
                <a href="{%url 'accred' team.id %}">Accreditation</a>
                <a href="{%url 'cert' team.id %}">Certificate</a>
              </td>

              <td>
                <a href="{%url 'deleteteam' team.id%}" class="btn btn-danger"
                  >Delete</a
                >
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
