{% extends "core/Base.html" %}
<!---->
{% load static %} {% block content %}
<!-- Start Breadcrumb Area -->
<div
  class="breadcrumb-area"
  style="background-image: url('{% static "img/IMG-20240516-WA0206.jpg" %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2>About Us</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb Area -->

<!-- Start Works About Area -->
<section class="works-about-area section-padding">
    <div class="container">
      <div class="row">
        <!-- Content -->
        <div class="col-lg-6 align-self-center">
          <div class="works-about-content">
            <h5>UPSSA</h5>
            <h2>Primary schools online registration system</h2>
            <p>
              At UPSSA, every child is a star in the making, and we take pride in
              fostering a dynamic environment where play, teamwork, and
              achievement thrive.
            </p>
            <ul>
              <li><i class="fas fa-check-circle"></i> Athletics</li>
              <li><i class="fas fa-check-circle"></i> Ball Games</li>
              <li><i class="fas fa-check-circle"></i> Feassa</li>
            </ul>
            <div class="btn-aa">
              <a class="button-2" href="">Get started</a>
            </div>
          </div>
        </div>
        <!-- Thumbnail -->
        <div class="col-lg-6 align-self-center">
          <div class="works-about-thumbanil">
            <div class="thumbnail">
              <img src="{% static 'img/upsa1.jpg'%}" alt="img" />
            </div>
            <div class="works-about-vedio">
              <div class="video-btn">
                <a href="https://www.youtube.com/embed/wmDkTGOZXds"
                  ><i class="fas fa-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Works About Area -->
  <!-- Start themetechmount Area -->
  <section class="themetechmount-area section-bg">
    <div class="container">
      <div class="themetechmount-area-full">
        <div class="row">
          <!-- Single -->
          <div class="col-lg-4 col-md-6">
            <div class="themetechmount-item">
              <div class="icon">
                <i class="fas fa-cogs"></i>
              </div>
              <div class="content">
                <h4>Identify</h4>
                <p>We search and find talents</p>
              </div>
            </div>
          </div>
          <!-- Single -->
          <div class="col-lg-4 col-md-6">
            <div class="themetechmount-item active">
              <div class="icon">
                <i class="fas fa-headset"></i>
              </div>
              <div class="content">
                <h4>Nurture</h4>
                <p>We train, mentor and groom talent</p>
              </div>
            </div>
          </div>
          <!-- Single -->
          <div class="col-lg-4 col-md-6">
            <div class="themetechmount-item">
              <div class="icon">
                <i class="fas fa-user-astronaut"></i>
              </div>
              <div class="content">
                <h4>Develope</h4>
                <p>We Equip, protect and grow talent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End themetechmount Area -->
<!-- Start About Area -->
<section class="about-area section-padding section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-thumbnail">
            <img src="{% static 'img/IMG-20240520-WA0106.jpg'%}" alt="about" />
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="about-content">
            <h5>About UPSSA</h5>
            <h2>Uganda Primary Schools Sports Association</h2>
            <div class="about-content-navs-tab">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="aboutus-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#aboutus"
                    type="button"
                    role="tab"
                    aria-controls="aboutus"
                    aria-selected="true"
                  >
                    About Us
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="mission-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#mission"
                    type="button"
                    role="tab"
                    aria-controls="mission"
                    aria-selected="false"
                  >
                    Our Mission
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="vision-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#vision"
                    type="button"
                    role="tab"
                    aria-controls="vision"
                    aria-selected="false"
                  >
                    Our Vision
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="aboutus"
                  role="tabpanel"
                  aria-labelledby="aboutus-tab"
                >
                  <div class="about-content-navs-tab-content-full">
                    <div class="title">
                      <h2>25+</h2>
                      <span>Years in Existance</span>
                    </div>
                    <p>
                      UPSSA is a sports association that brings together primary
                      schools in Uganda to compete in various sports disciplines.
                    </p>
                    <ul>
                      <li><i class="far fa-check-square"></i> Kid Athletics</li>
                      <li><i class="far fa-check-square"></i> Ball Games</li>
                      <li><i class="far fa-check-square"></i> Feassa Games</li>
                    </ul>
                    <a class="button-1" href="about.html">View Details</a>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="mission"
                  role="tabpanel"
                  aria-labelledby="mission-tab"
                >
                  <div class="about-content-navs-tab-content-full">
                    <div class="title">
                      <h2>100+</h2>
                      <span>Districts participation </span>
                    </div>
                    <p>
                      To uplift the standard of Sports in Schools for all learners
                      throughout the Country.
                    </p>
                    <ul>
                      <li>
                        <i class="far fa-check-square"></i> Mass sports
                        engagements
                      </li>
                      <li><i class="far fa-check-square"></i> Fair play rules</li>
                    </ul>
                    <a class="button-1" href="about.html">View Details</a>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="vision"
                  role="tabpanel"
                  aria-labelledby="vision-tab"
                >
                  <div class="about-content-navs-tab-content-full">
                    <div class="title">
                      <h2>10,000+</h2>
                      <span>Schools participation </span>
                    </div>
                    <p>
                      We foster friendly relations among schools, districts,
                      municipalities and cities by promoting fair competitions.
                    </p>
                    <ul>
                      <li>
                        <i class="far fa-check-square"></i> Promote leadership
                        skills
                      </li>
                      <li>
                        <i class="far fa-check-square"></i> Foster international
                        friendship
                      </li>
                    </ul>
                    <a class="button-1" href="about.html">View Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Area -->
{% endblock %}
