<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Activation</title>
  </head>
  <body>
    <p>Hello {{ username }},</p>

    <p>
      Your account has been successfully activated. Here are your login
      credentials:
    </p>

    <ul>
      <li><strong>Username:</strong> {{ username }}</li>
      <li><strong>Password:</strong> {{ password }}</li>
    </ul>

    <p>
      You can now log in using the provided credentials. Please remember to
      change your password after logging in for security reasons.
    </p>

    <p>Thank you!</p>
  </body>
</html>
