<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPSSA | {% block title %}{% endblock title %}</title>
    <link rel="icon" href="{%static 'images/upsa.png'%}" sizes="35x35" />
    <link rel="stylesheet" href="{% static 'css/profile/school_new.css'%}" />

    <link rel="stylesheet" href="{% static 'css/base/base.css'%}" />
    <link rel="stylesheet" href="{% static 'css/thanks/thanks.css'%}" />
    <link rel="stylesheet" href="{% static 'css/home/home.css'%}" />
    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />
    <link rel="stylesheet" href="{% static 'css/css/all.css'%}" />
    <link rel="stylesheet" href="{% static 'css/css/all.min.css'%}" />

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css"
    />
    <link
      id="pagestyle"
      href="{% static 'assets/css/material-dashboard.css'%}"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="/" class="nav-logo">
          <img src="{% static 'images/upsa.png'%}" alt="" />
        </a>
        <ul class="nav-menu flex">
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Overview</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">School</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Athletes</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <!---->
            {% if user.is_school %}
            <a href="{% url 'school_dashboard'%}" class="btn-submit"
              >Dashboard</a
            >{% else %}
            <a href="{% url 'dashboard'%}" class="btn-submit">Dashboard</a
            >{%endif %} {% else %}
            <a href="{% url 'login'%}" class="btn-submit">Login</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a href="{% url 'new_school'%}" class="btn-submit"
              >Register school</a
            >
          </li>
        </ul>
        <div class="hamburger">
          <i class="fa fa-bars"></i>
        </div>
      </nav>
    </header>

    <div class="content">{% block content %} {% endblock %}</div>
    <footer class="footer py-4">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              USSSA Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              , All Rights Reserved.
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>



    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'scripts/app.js'%}"></script>

    <script src="{%static 'js/nav.js'%}"></script>
    
    <script>
      // change color on scroll

      window.addEventListener("scroll", function () {
        const header = document.querySelector(".header");
        if (window.scrollY >= 100) {
          header.classList.add("white-bg");
        } else {
          header.classList.remove("white-bg");
        }
      });
    </script>
  </body>
</html>
