{% extends "core/Base.html" %}
<!---->
{% load static %} {% block content %}
<!-- Start Breadcrumb Area -->
<div
  class="breadcrumb-area"
  style="background-image: url('{% static "img/IMG-20240516-WA0206.jpg" %}');"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb Area -->
<!-- Start Contact Area -->
<section class="contact-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 align-self-center">
        <div class="contact-form">
          <h2>Get In Touch</h2>
          <form id="contact-form" action="mail.php" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="single-input">
                  <input type="text" name="name" placeholder="Your Name" />
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <input type="email" name="email" placeholder="Your Email" />
                  <i class="far fa-envelope"></i>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <input type="text" name="phone" placeholder="Your Phone" />
                  <i class="fas fa-mobile-alt"></i>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single-input">
                  <input
                    type="text"
                    name="subject"
                    placeholder="Your Subjects"
                  />
                  <i class="fas fa-file-alt"></i>
                </div>
              </div>
              <div class="col-12">
                <div class="single-input">
                  <textarea
                    name="message"
                    placeholder="Write Message"
                  ></textarea>
                  <i class="fas fa-pen"></i>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="button-1">Send Message</button>
              </div>
            </div>
          </form>
          <p class="ajax-response"></p>
        </div>
      </div>
      <div class="col-lg-4 align-self-center">
        <div
        class="contact-form-info"
        style="background-image: url('{% static "img/IMG-20240516-WA0206.jpg" %}');"
      >
      
          <h2>Don't hesitate to contact us</h2>
          <div class="contact-info-list">
            <div class="item mb-20">
              <div class="icon">
                <i class="fas fa-home"></i>
              </div>
              <div class="content">
                <h4>Locations</h4>
                <p>2512, New Market, Eliza Road, Sincher 80 CA, Canada, USA</p>
              </div>
            </div>
            <div class="item mb-20">
              <div class="icon">
                <i class="far fa-envelope"></i>
              </div>
              <div class="content">
                <h4>Drop A Mail</h4>
                <p>support@example.com</p>
                <p>example@gmail.com</p>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div class="content">
                <h4>Call Us</h4>
                <p>(41) 123 521 458</p>
                <p>+91 235 548 7548</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Area -->
{% endblock %}
