<!-- Assuming you are in a Django template file (.html) -->
{% load static %}

<div style="width: 300px; background-color: gray; padding: 20px; color: black">
  <h1>UPPSA</h1>
  <h4>Account credentials</h4>
  <ul>
    <li>
      Username: <span style="font-weight: bold">headteacher's email</span>
    </li>
    <li>Password: <span style="font-weight: bold">123Pass</span></li>
  </ul>
  <button stye="background-color:blue;padding:10px;width:200px">
    <a href="https://upssa.usssaonline.com/login">Login</a>
  </button>

  <p>Regards, UPSSA</p>
</div>
