{% extends "core/Base.html" %}
<!---->
{% load static %} {% block content %}
<div class="home-page">
  <div class="hero flex">
    <div class="left flex">
      <span>_Uganda primary schools sports association</span>
      <h1>Primary schools online registration system</h1>
      <p>
        At UPSSA, every child is a star in the making, and we take pride in
        fostering a dynamic environment where play, teamwork, and achievement
        thrive.
      </p>
      <div class="btns flex">
        <a href="" class="btn-submit">contact</a>
        <a href="{% url 'new_school'%}" class="btn-submit">
          get started <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="lefot">
      <div class="vidcan">
        <iframe
          width="100%"
          height="400"
          src="https://www.youtube.com/embed/wmDkTGOZXds?autoplay=1&mute=1"
          title="UPSSA School Registration form"
        ></iframe>
      </div>
    </div>
  </div>
  <!-- your_template.html -->
</div>

{% endblock content %}
