{% extends "core/Base.html" %}
<!---->
{% load static %} {% block content %}
<div class="home-page">
  <div class="hero grid2">
    <div class="left">
      <span>_Uganda primary schools sports association</span>
      <h1>Primary schools online registration system</h1>
      <p>
        At our UPSSA, every child is a star in the making, and we take
        pride in fostering a dynamic environment where play, teamwork, and
        achievement thrive.
      </p>
      <div class="btns flex">
        <a href="" class="btn-submit">contact</a>
        <a href="{% url 'new_school'%}" class="btn-submit">
          get started <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="left">
      <img
        src="https://i.pinimg.com/originals/67/0c/27/670c27d0d775138fbad0768843dcc76f.jpg"
        alt=""
      />
    </div>
  </div>
  <!-- your_template.html -->
</div>

{% endblock content %}
