<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPSSA</title>
    <link rel="stylesheet" href="{% static 'css/maint.css'%}" />
  </head>
  <body>
    <div class="registration">
      <div class="registration-insider">
        <div class="logo">
          <img src="{% static 'images/upsa.png'%}" alt="" />
        </div>
        <h1>registration closed</h1>
        <p>Please use the dedicated helplines for assistance</p>
      </div>
    </div>
  </body>
</html>
