<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Codescandy" />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-M8S4MT3EYG");
    </script>

    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/fav.png' %}"
    />

    <!-- Color modes -->
    <!-- Color modes -->
    <script src="{% static 'js/color-modes.js' %}"></script>

    <!-- Libs CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.95/css/materialdesignicons.min.css"
      rel="stylesheet"
    />

    <!-- Libs CSS -->
    <link href="{% static 'css/simplabar.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}" />

    <title>Sign In | UPSSA - Uganda Primary Schools Sports Association</title>
  </head>

  <body>
    <main class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
          <div class="position-absolute end-0 top-0 p-8">
            <div class="dropdown">
              <button
                class="btn btn-ghost btn-icon rounded-circle"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                aria-label="Toggle theme (auto)"
              >
                <i class="bi theme-icon-active"></i>
                <span class="visually-hidden bs-theme-text">Toggle theme</span>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-end shadow"
                aria-labelledby="bs-theme-text"
              >
                <li>
                  <button
                    type="button"
                    class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="light"
                    aria-pressed="false"
                  >
                    <i class="bi theme-icon bi-sun-fill"></i>
                    <span class="ms-2">Light</span>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="dark"
                    aria-pressed="false"
                  >
                    <i class="bi theme-icon bi-moon-stars-fill"></i>
                    <span class="ms-2">Dark</span>
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="dropdown-item d-flex align-items-center active"
                    data-bs-theme-value="auto"
                    aria-pressed="true"
                  >
                    <i class="bi theme-icon bi-circle-half"></i>
                    <span class="ms-2">Auto</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <!-- Card -->
          <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="card-body p-5">
              <div class="mb-4">
                <a href="../index.html"
                  ><img
                    src="{% static 'images/uni.png'%}"
                    class="mb-2 text-inverse"
                    alt="Image"
                /></a>
                <p class="mb-6">
                  Don't worry, we'll send you an email to reset your password.
                </p>
              </div>
              <!-- Form -->
              {% if form.errors %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                  {% for key, value in form.errors.items %}
                  <strong>{{ value }}</strong>
                  {% endfor %}
                </div>
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              <!-- Form -->
              <form method="POST">
                {% csrf_token %}
                <!-- Email -->
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    autocomplete="email"
                    maxlength="254"
                    required
                    id="id_email"
                    placeholder="Enter email"
                  />
                </div>
                <!-- Button -->
                <div class="mb-3 d-grid">
                  <button type="submit" class="btn btn-primary">
                    Reset Password
                  </button>
                </div>
                <span>
                  Don't have an account?
                  <a href="{% url 'login' %}">Back To Login</a>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@6.2.1/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>
