<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{%endblock%} USSSA | Register</title>
    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />
    <link rel="stylesheet" href="{% static 'css/css/all.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/main/register.css'%}" />
  </head>
  <body>
    <div class="account flex">
      <div class="flex_account grid2">
        <div class="lefta flex">
          <img src="{% static 'images/upsa.png'%}" alt="" />
          <h1>Welcome to USSSA IMS</h1>
          <p>
            We identify, nurture, develope and promote sports talent in schools
          </p>
          <p>
            By registering you agree to USSSA
            <a href="#">Terms and Conditions</a>
          </p>
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
        </div>
        <div class="left">
          <form
            method="POST"
            action=""
            class="form-ctrl"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="fields grid2">
              <div class="field">
                <i class="fa fa-user"></i>
                <input
                  type="text"
                  name="first_name"
                  maxlength="255"
                  required=""
                  id="id_first_name"
                  placeholder="First name"
                />
              </div>
              <div class="field">
                <i class="fa fa-user"></i>
                <input
                  type="text"
                  name="last_name"
                  maxlength="255"
                  required=""
                  id="id_last_name"
                  placeholder="Last name"
                />
              </div>
            </div>
            <div class="fields grid2">
              <div class="field">
                <i class="fa fa-phone"></i>
                <input
                  type="text"
                  name="phone"
                  maxlength="20"
                  id="id_phone"
                  placeholder="Phone"
                />
              </div>
              <div class="field">
                <i class="fa fa-user"></i>
                <input
                  type="text"
                  name="username"
                  maxlength="150"
                  autofocus=""
                  required=""
                  id="id_username"
                  placeholder="Username"
                />
              </div>
            </div>
            <div class="fields">
              <div class="field">
                <i class="fa fa-envelope"></i>
                <input
                  type="email"
                  name="email"
                  maxlength="100"
                  required=""
                  id="id_email"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="fields grid2">
              <div class="field">
                <i class="fa fa-lock"></i>
                <input
                  type="password"
                  name="password1"
                  autocomplete="new-password"
                  required=""
                  id="id_password1"
                  placeholder="Password"
                />
              </div>
              <div class="field">
                <i class="fa fa-lock"></i>
                <input
                  type="password"
                  name="password2"
                  autocomplete="new-password"
                  required=""
                  id="id_password2"
                  placeholder="Confirm password"
                />
              </div>
            </div>

            <button type="submit" class="btn-submit">register</button>
            <div class="acct flex">
             
              <a href="{% url 'login'%}">login</a>
            </div>
          </form>
          <!--form for the school-->
        </div>
      </div>
    </div>
  </body>
</html>
