<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPSSA | {% block title %}{% endblock title %}</title>
    <link rel="icon" href="{%static 'images/upsa.png'%}" sizes="35x35" />
    <link rel="stylesheet" href="{% static 'css/profile/school_new.css'%}" />
    <link rel="stylesheet" href="{% static 'css/base/base.css'%}" />
    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />

    <script
      src="https://code.jquery.com/jquery-2.1.1.min.js"
      type="text/javascript"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#id_district").select2();
      });
    </script>
  </head>
  <body>
    <div class="profile-update">
      <div class="school-long">
        <form
          action=""
          method="POST"
          class="form-ctrl"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="school">
            <h2>Personal Info</h2>
            <hr />
          </div>
          <div class="school">
            <div class="fields">
              <div class="left">
                <div class="imgbox">
                  <div class="field">
                    <label>{{form.photo.label}}</label>
                    {% if form.instance.photo %}
                    <img
                      src="{{ form.instance.photo.url }}"
                      id="image-preview"
                      alt="Current Photo"
                    />
                    {% else %}
                    <img
                      src="{% static 'images/profile.png' %}"
                      id="image-preview"
                      alt="No Photo"
                    />
                    {% endif %}
                  </div>
                  <div class="field">
                    <input
                      type="file"
                      name="photo"
                      accept="image/*"
                      onchange="displayImage(this);"
                      id="id_photo"
                    />
                  </div>
                </div>
                <div class="fiil">
                  <div class="field flex">
                    <label>First Name</label>
                    {{form.first_name}}
                  </div>
                  <div class="field flex">
                    <label>Last Name</label>
                    {{form.last_name}}
                  </div>
                  <div class="field flex">
                    <label>{{ form.school.label}}</label>
                    {{form.school}}
                  </div>

                  <div class="field">
                    <label>Phone:</label>
                    {{form.contact}}
                  </div>
                  <div class="field">
                    <label>Role:</label>
                    {{form.designation}}
                  </div>
                  <div class="field">
                    <label>gender</label>
                    {{form.gender}}
                  </div>
                  <div class="field">
                    <label>District/City/Municipality</label>
                    {{form.district}}
                  </div>

                  <button type="submit" class="btn-submit">Save profile</button>
                </div>
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ form.non_field_errors.as_ul }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      function displayImage(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById("image-preview").src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    </script>
  </body>
</html>
