{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Officials{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>ASSHU</h1>
    {% comment %} <a href="{% url 'teccred'%}" class="btn-submit">Accreditation</a> {% endcomment %}
  </div>
  <h2>Filter Teachers</h2>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Apply Filter</button>
  </form>

 

  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Generate PDF" />
  </form>
  <div class="filterlist glue">
    <div class="official-list">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>Names</th>
            <th>School</th>
            <th>Designation</th>
            <th>contact</th>

            <th>Gender</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for teacher in filter.qs %}
          <tr>
            <td>
              <a href="{% url 'teacher' teacher.id%}"
                >{{teacher.first_name}} {{teacher.last_name}}</a
              >
            </td>
            <td>{{teacher.school}}</td>
            <td>{{teacher.designation}}</td>
            <td>{{teacher.contact}}</td>

            <td>{{teacher.gender}}</td>
            <td><a href="{%url 'deloff' teacher.id%}">delete</a></td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
