.schools-den {
  .image-box {
    width: 100%;
    img {
      width: 300px;
    }
    .details{
      list-style: none;
      li{
        text-transform: capitalize;
        margin: 10px;
        font-size: 18px;
      }
    }
  }
}
