{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Athletes{% endblock %}
<!---->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h3>Schools</h3>
    <a href="" class="btn-green">generate report</a>
  </div>

  <div class="filterlist glue">
    <div class="official-list">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>name</th>
            <th>school</th>
            <th>Lin</th>
            <th>sport</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for athlete in athletes%}
          <tr>
            <td>
              <a href="{% url 'athlete' athlete.id%}"
                >{{athlete.fname}} {{athlete.lname}}</a
              >
            </td>
            <td>{{athlete.school}}</td>
            <td>{{athlete.lin}}</td>
            <td>{{athlete.sport}}</td>
            <td>{{athlete.age}}</td>
            <td>{{athlete.gender}}</td>
            <td>{{athlete.status}}</td>
           <td> <div class="actions">
              
                <a href=""><i class="fa fa-pencil"></i></a>
              
                <a href=""><i class="fa fa-trash"></i></a>
              </td>
            </div>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
