<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Codescandy" />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-M8S4MT3EYG");
    </script>

    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/fav.png' %}"
    />

    <!-- Color modes -->
    <script src="{% static 'js/color-modes.js' %}"></script>

    <!-- Libs CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.95/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}" />
    <!-- Layout styles -->

    <link rel="icon" href="{%static 'images/upsaa.png'%}" sizes="35x35" />
    <link rel="stylesheet" href="{% static 'css/main/main.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dashboard/school.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dashboard/delete.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dashboard/schooled.css'%}" />
    <link rel="stylesheet" href="{% static 'css/dashboard/schoolist.css'%}" />
    <link rel="stylesheet" href="{% static 'css/newteam.css'%}" />
    <link rel="stylesheet" href="{% static 'css/team.css'%}" />
    <link rel="stylesheet" href="{% static 'css/tprofile.css'%}" />
    <link rel="stylesheet" href="{% static 'css/profile/school_new.css'%}" />
    <link rel="stylesheet" href="{% static 'css/thanks/officer.css'%}" />
    <link rel="stylesheet" href="{% static 'css/profile/athlete.css'%}" />
    <link rel="stylesheet" href="{% static 'css/profile/athletes.css'%}" />
    <link rel="stylesheet" href="{% static 'css/profile/newAthlete.css'%}" />

    <title>UPSSA {% block title %}{% endblock title %}</title>
  </head>

  <body>
    <!-- Wrapper -->
    <main id="main-wrapper" class="main-wrapper">
      <div class="header">
        <!-- navbar -->
        <div class="navbar-custom navbar navbar-expand-lg">
          <div class="container-fluid px-0">
            <a class="navbar-brand d-block d-md-none" href="/">
              <img src="{% static 'images/uni.png'%}" alt="Image" />
            </a>
            <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                fill="currentColor"
                class="bi bi-text-indent-left text-muted"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                ></path>
              </svg>
            </a>

            <div class="d-none d-md-none d-lg-block">
              <!-- Form -->
              {% if user.is_school %}
              <h3>{{user.school_profile.first }}</h3>
              {% else %}
              <h3>{{user.username|lower }}</h3>
              {% endif %}
            </div>
            <!--Navbar nav -->
            <ul
              class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0"
            >
              <li>
                <div class="dropdown">
                  <button
                    class="btn btn-ghost btn-icon rounded-circle"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    aria-label="Toggle theme (auto)"
                  >
                    <i class="bi theme-icon-active"></i>
                    <span class="visually-hidden bs-theme-text"
                      >Toggle theme</span
                    >
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end shadow"
                    aria-labelledby="bs-theme-text"
                  >
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center"
                        data-bs-theme-value="light"
                        aria-pressed="false"
                      >
                        <i class="bi theme-icon bi-sun-fill"></i>
                        <span class="ms-2">Light</span>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center"
                        data-bs-theme-value="dark"
                        aria-pressed="false"
                      >
                        <i class="bi theme-icon bi-moon-stars-fill"></i>
                        <span class="ms-2">Dark</span>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center active"
                        data-bs-theme-value="auto"
                        aria-pressed="true"
                      >
                        <i class="bi theme-icon bi-circle-half"></i>
                        <span class="ms-2">Auto</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="dropdown stopevent ms-2">
                <a
                  class="btn btn-ghost btn-icon rounded-circle"
                  href="#!"
                  role="button"
                  id="dropdownNotification"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="icon-xs" data-feather="bell"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-lg dropdown-menu-end"
                  aria-labelledby="dropdownNotification"
                >
                  <div>
                    <div
                      class="border-bottom px-3 pt-2 pb-3 d-flex justify-content-between align-items-center"
                    >
                      <p class="mb-0 text-dark fw-medium fs-4">Notifications</p>
                      <a href="#!" class="text-muted">
                        <span>
                          <i class="me-1 icon-xs" data-feather="settings"></i>
                        </span>
                      </a>
                    </div>
                    <div data-simplebar style="height: 250px">
                      <!-- List group -->
                      <ul
                        class="list-group list-group-flush notification-list-scroll"
                      >
                        <!-- List group item -->
                        <li class="list-group-item bg-light">
                          <a href="#!" class="text-muted">
                            <h5 class="mb-1">Rishi Chopra</h5>
                            <p class="mb-0">
                              Mauris blandit erat id nunc blandit, ac eleifend
                              dolor pretium.
                            </p>
                          </a>
                        </li>
                        <!-- List group item -->
                        <li class="list-group-item">
                          <a href="#!" class="text-muted">
                            <h5 class="mb-1">Neha Kannned</h5>
                            <p class="mb-0">
                              Proin at elit vel est condimentum elementum id in
                              ante. Maecenas et sapien metus.
                            </p>
                          </a>
                        </li>
                        <!-- List group item -->
                        <li class="list-group-item">
                          <a href="#!" class="text-muted">
                            <h5 class="mb-1">Nirmala Chauhan</h5>
                            <p class="mb-0">
                              Morbi maximus urna lobortis elit sollicitudin
                              sollicitudieget elit vel pretium.
                            </p>
                          </a>
                        </li>
                        <!-- List group item -->
                        <li class="list-group-item">
                          <a href="#!" class="text-muted">
                            <h5 class="mb-1">Sina Ray</h5>
                            <p class="mb-0">
                              Sed aliquam augue sit amet mauris volutpat
                              hendrerit sed nunc eu diam.
                            </p>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="border-top px-3 py-2 text-center">
                      <a href="#!" class="text-inherit"
                        >View all Notifications</a
                      >
                    </div>
                  </div>
                </div>
              </li>
              <!-- List -->
              <li class="dropdown ms-2">
                <a
                  class="rounded-circle"
                  href="#!"
                  role="button"
                  id="dropdownUser"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <div class="avatar avatar-md avatar-indicators avatar-online">
                    {% if user.school_profile.first.badge %}
                    <img
                      alt="avatar"
                      src="{{user.school_profile.first.badge.url }}"
                      class="rounded-circle"
                    />
                    {% else %}
                    <img
                      alt="avatar"
                      src="{% static 'images/fav.png'%}"
                      class="rounded-circle"
                    />{% endif %}
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="dropdownUser"
                >
                  <div class="px-4 pb-0 pt-2">
                    <div class="lh-1">
                      <h5 class="mb-1">{{user.school_profile.first }}</h5>
                    </div>
                    <div class="dropdown-divider mt-3 mb-2"></div>
                  </div>

                  <ul class="list-unstyled">
                    <li>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href=""
                      >
                        <!--url 'schoolpdate' school.id -->
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="user"
                        ></i>
                        Edit Profile
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#!">
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="activity"
                        ></i>
                        Activity Log
                      </a>
                    </li>

                    <li>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#!"
                      >
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="settings"
                        ></i>
                        Settings
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'logout'%}">
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="power"
                        ></i>
                        Sign Out
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- navbar vertical -->
      <!-- Sidebar -->

      <div class="navbar-vertical navbar nav-dashboard">
        <div class="h-100" data-simplebar>
          <!-- Brand logo -->
          <a class="navbar-brand" href="">
            <img src="{% static 'images/upsa.png' %}" alt="UPSSA" />
          </a>
          <!-- Navbar nav -->
          <ul class="navbar-nav flex-column" id="sideNavbar">
            <!-- Nav item -->
            {% if user.is_school %}
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'school_dashboard'%}">
                <i data-feather="users" class="nav-icon me-2 icon-xxs"></i>
                Dashboard</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'athletes'%}">
                <i data-feather="users" class="nav-icon me-2 icon-xxs"></i>
                Athletes</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'officials'%}">
                <i data-feather="users" class="nav-icon me-2 icon-xxs"></i>
                Officials</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a
                class="nav-link has-arrow"
                href="{% url 'school_enrollments'%}"
              >
                <i data-feather="users" class="nav-icon me-2 icon-xxs"></i>
                Teams</a
              >
            </li>
            <!-- Nav item -->

            <!-- Nav item -->
            {% else %}
            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">DASHBOARD</div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'dashboard'%}"
                ><i data-feather="layers" class="nav-icon me-2 icon-xxs"></i
                >Dashboard</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">SCHOOL</div>
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'schools'%}"
                ><i data-feather="grid" class="nav-icon me-2 icon-xxs"></i
                >Schools</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'athletex'%}"
                ><i data-feather="user" class="nav-icon me-2 icon-xxs"></i
                >Athletes</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'all_officials'%}"
                ><i data-feather="users" class="nav-icon me-2 icon-xxs"></i
                >School Officials</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'all_enrollments'%}"
                ><i data-feather="slack" class="nav-icon me-2 icon-xxs"></i
                >School Teams</a
              >
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">DISTRICT OFFICIALS</div>
            </li>
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <a
                class="nav-link has-arrow collapsed"
                href="#!"
                data-bs-toggle="collapse"
                data-bs-target="#navEmail"
                aria-expanded="false"
                aria-controls="navEmail"
              >
                <i data-feather="map-pin" class="nav-icon me-2 icon-xxs"></i>
                District
              </a>

              <div id="navEmail" class="collapse" data-bs-parent="#sideNavbar">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link has-arrow" href="../pages/mail.html"
                      >Sports officers</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link has-arrow"
                      href="../pages/mail-details.html"
                      >Other Officers</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link has-arrow"
                      href="../pages/mail-draft.html"
                      >Teams</a
                    >
                  </li>
                </ul>
              </div>
            </li>

            <!-- Nav item -->
            {% endif %}
            <!-- Nav item -->
            <!-- Nav item -->
            <li class="nav-item">
              <div class="navbar-heading">ACCOUNT</div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'change_password'%}"
                >Change password</a
              >
            </li>
            <!-- Nav item -->
            <li class="nav-item">
              <a class="nav-link has-arrow" href="{% url 'logout'%}">Logout</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Page Content -->
      {% block content %}{% endblock %}
      <!-- Page Content -->
    </main>

    <!-- Modal -->

    <!-- Scripts -->

    <!-- Libs JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#example").DataTable({ responsive: !0 });
      });
    </script>
    <script src="{% static 'js/timetable.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/feather.js'%}"></script>
    <script src="{% static 'js/opper.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'js/dropzone.min.js'%}"></script>
    <script src="{% static 'js/feather.min.js'%}"></script>
    <script src="{% static 'js/flatpickr.min.js'%}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/quill.min.js'%}"></script>
    <script src="{% static 'js/simplebar.min.js'%}"></script>
    <script src="{% static 'js/tippy-bundle.umd.min.js'%}"></script>
    <script src="{% static 'js/tooltip.js'%}"></script>
    <script src="{% static 'js/choice.js'%}"></script>
    <script src="{% static 'js/choices.min.js'%}"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.1/js/dataTables.responsive.min.js"></script>

    <script src="{% static 'js/chat.js'%}"></script>
  </body>
</html>
