{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Athletes{% endblock %}
<!---->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h3>Schools</h3>
    <a href="" class="btn-green">generate report</a>
  </div>

  <div class="filterlist glue">
    
   
    <div class="filterlist glue">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>names</th>
              <th>school</th>
              <th>nin</th>
              <th>contact</th>
              <th>Email</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            {% for official in officilas%}
            <tr>
              <td>
                <a href="{% url 'official' official.id%}"
                  >{{official.name}}</a
                >
              </td>
              <td>{{official.school}}</td>
              <td>{{official.nin}}</td>
              <td>{{official.phone_number}}</td>
              <td>{{official.email}}</td>
              <td>{{official.gender}}</td>
            </tr>
  
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    

    </div>
  </div>
  

</div>
{% endblock %}
