{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Schools{% endblock %}
<!---->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Schools</h1>
    <div class="report">
      <a href="{% url 'export_csv'%}"
        ><i class="fa fa-download" aria-hidden="true"></i>
      </a>
      <a href="{% url 'export_pdf'%}"
        ><i class="fa fa-file-pdf" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="filterlist glue">
    <div class="lo">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>School</th>
              <th>Emis</th>
              <th>Status</th>
              <th>region</th>
              <th>District</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for school in schools%}
            <tr>
              <td>
                <a href="{% url 'schooldetail' school.id%}"
                  >{{school.school_name}}</a
                >
              </td>
              <td>{{school.EMIS}}</td>
              <td>{{school.status}}</td>
              <td>{{school.region}}</td>
              <td>{{school.district}}</td>
              <td>
                <div class="report">
                  <a href="{% url 'schoolupdate' school.id%}"
                    ><i class="fa fa-pencil-square" aria-hidden="true"></i>
                  </a>
                  <a href="{% url 'delschool' school.id%}"
                    ><i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                  <a href="{%url 'activate' school.id %}"
                    ><i class="fa fa-th" aria-hidden="true"></i>
                  </a>
                </div>
              </td>
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
