{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Schools{% endblock %}
<!---->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Schools</h1>
    
  </div>

  <div class="filterlist glue">
    <div class="lo">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>School</th>
              <th>Emis</th>
              <th>Center number</th>
              <th>region</th>
              <th>district</th>
            </tr>
          </thead>
          <tbody>
            {% for school in schools%}
            <tr>
              <td>
                <a href="{% url 'schooldetail' school.id%}"
                  >{{school.school_name}}</a
                >
              </td>
              <td>{{school.EMIS}}</td>
              <td>{{school.center_number}}</td>
              <td>{{school.region}}</td>
              <td>{{school.district}}</td>
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
