{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Tournaments{% endblock %}
<!---->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h3>Tournaments</h3>
    <a href="{%url 'new_school'%}" class="btn-submit">Add Tournament</a>
  </div>

  <div class="filterlist glue">
    <div class="lo">
    <div class="filter">
      <form action="" method="get" class="formis grid-5">
        <div class="field flex">
          <label>{{myFilter.form.school_name.label}}</label>
          {{myFilter.form.school_name}}
        </div>
        <div class="field flex">
          <label>{{myFilter.form.EMIS.label}}</label>
          {{myFilter.form.EMIS}}
        </div>
        <div class="field flex">
          <label>{{myFilter.form.region.label}}</label>
          {{myFilter.form.region}}
        </div>
        <div class="field flex">
          <label>{{myFilter.form.zone.label}}</label>
          {{myFilter.form.zone}}
        </div>
        <button type="submit" class="btn-submit">filter</button>
      </form>
    </div>
    <div class="titles grid-5">
      
      <span>School</span>
      <span>EMIS number</span>
      <span>center number</span>
      <span>Region</span>
      <span>Zone</span>
    </div>
   
    <div class="official-list">
      {% for school in schoollist%}
     <hr />
      <div class="school grid-5">
        
        <a href="{% url 'schooldetail' school.id%}">
          <span>{{school.school_name}} </span> </a
        ><span>{{school.EMIS}}</span>
        <span>{{school.center_number}}</span>
        <span>{{school.region}} </span>
        <span>{{school.zone}}</span>
      </div>
    
      {%endfor%}
    </div>
    
    <div class="pagination">
      <span class="step-links">
        {% if schoollist.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ schoollist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{schoollist.number }} of {{schoollist.paginator.num_pages}}
        </span>

        {% if officiallist.has_next %}
        <a href="?page={{ schoollist.next_page_number }}">next</a>
        <a href="?page={{ schoollist.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
