.sooverview {
  background-color: rgb(243, 243, 243);
  .boxed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    .school-box {
      align-items: flex-start;
      .left {
        // width: 50%;
        margin: 10px;
        flex-direction: column;
        img {
          width: 150px;
        }
      }
    }
  }
  .glue {
    padding: 10px;
    margin: 10px 0;
  }
}
