{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Athletes{% endblock %}
<!---->
{% block content %}
<!--khfufufu-->
<div class="app-content-area">
  <div class="container-fluid">
<div class="schools-dew">
  <div class="head flex">
    <h1>Athletes</h1>
    
  </div>
       <!-- row -->
       <div class="row">
        <div class="col-12">
          <div class="card">

                    <div class="card-body">
                      <div class="row">
                        <div class="table-responsive">
                          <table id="athleteTable" class="display" style="width: 100%">
                            <thead>
                              <tr>
                                <th>Athlete</th>
                                <th>LIN</th>
                                <th>School</th>
                                <th>Edit</th>
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
      </div>
      <!-- row -->

    <div class="pagination">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if athletes.has_previous %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ athletes.previous_page_number }}"
              >Previous</a
            >
          </li>
          </li>
          {% endif %} {% for page_num in athletes.paginator.page_range %}
         {% if  page_num == 1 or page_num == athletes.paginator.num_pages %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
          {% elif page_num >= athletes.number|add:"-2" and page_num <= athletes.number|add:"2" %} 
          {% if page_num == athletes.number %}
          <li class="page-item active">
            <span class="page-link">{{ page_num }}</span>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
          {% endif %} 
          {% elif page_num == athletes.number|add:"3" or page_num == athletes.number|add:"-3" %}
          
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
          {% endif %} {% endfor %} {% if athletes.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ athletes.next_page_number }}"
              >Next</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    
  </div>
</div>
</div>
</div>
</div></div>
{% endblock %}
