{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Athletes{% endblock %}
<!---->
{% block content %}
<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="mb-4">
            <h3 class="mb-0">{{school.school_name}}</h3>
          </div>
        </div>
      </div>
      <div>
        <!-- row -->
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div
            class="alert {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}"
          >
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <!-- row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header d-md-flex border-bottom-0">
                <div class="flex-grow-1">
                  <a href="{% url 'addathlete' %}" class="btn btn-primary"
                    >+ Add Athlete</a
                  >
                </div>
              </div>

              <div class="card-body">
                <div class="table-responsive table-card">
                  <table
                    id="example"
                    class="table text-nowrap table-centered mt-0"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Names</th>
                        <th>Lin</th>
                        <th>School</th>
                        <th>Gender</th>
                        <th>Sport</th>
                        <th>Age</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for athlete in athletes%}
                      <tr>
                        <td>
                          <a href="{% url 'athlete' athlete.id%}"
                            >{{athlete.fname}} {{athlete.lname}}</a
                          >
                        </td>
                        <td>{{athlete.lin}}</td>
                        <td>{{athlete.school}}</td>
                        <td>{{athlete.gender}}</td>
                        <td>{{athlete.sport}}</td>

                        <td>{{athlete.age}}</td>
                      </tr>

                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->

        <!-- row -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
