{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Athletes{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Athletes</h1>
    <div class="ass">
      <a href="{% url 'addathlete'%}" class="btn-submit">Add Athlete</a>
    </div>
  </div>

  <div class="filterlist glue">
    <div class="lo">
      <div class="official-list">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Names</th>
              <th>Lin</th>
              <th>School</th>
              <th>Gender</th>
              <th>Sport</th>

              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            {% for athlete in athletes%}
            <tr>
              <td>
                <a href="{% url 'athlete' athlete.id%}"
                  >{{athlete.fname}} {{athlete.lname}}</a
                >
              </td>
              <td>{{athlete.lin}}</td>
              <td>{{athlete.school}}</td>
              <td>{{athlete.gender}}</td>
              <td>{{athlete.sport}}</td>

              <td>{{athlete.age}}</td>
            </tr>

            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
