{% extends "dashboard/dashboard.html" %}
<!---->
{% load static %}
<!---->
{%block title%}Delete {{obj}}{% endblock %}
<!---->
{% block content %}
<div class="delete">
  <div class="confirm">
    <form action="" class="formdelete" method="POST">
      {% csrf_token %}
      <p>Are you sure you want to delete <span>"{{obj}}"</span>?</p>
      <hr>
      <div class="btns">
        <input type="submit" value="confirm" />
        <a href="{{request.META.HTTP_REFERER}}" class="btn-flux">cancel</a>
      </div>
    </form>
  </div>
</div>
{%endblock%}
