{% extends "horizon/dascore.html" %}
<!---->
{% load static %}
<!---->

{% block title %} | Teams{% endblock %}
<!---->
{% block content %}
<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="mb-5 flex">
            <h3 class="mb-0">Teams</h3>
            <a href="{% url 'export_ecsv'%}" class='btn btn-success'>Export</a>
          </div>
        </div>
      </div>
      <div>
        <div class="filter card">
          <div class="filterlist card-body">
            <div class="table-responsive table-card">
              <table
                id="example"
                class="table text-nowrap table-centered mt-0"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Names</th>
                    <th>School</th>
                    <th>Championship</th>
                    <th>Sport</th>
                    <th>Reports</th>
                  </tr>
                </thead>
                <tbody>
                  {% for school_enrollment in school_enrolls %}
                  <tr>
                    <td>
                      <a
                        href="{% url 'school_enrollment' school_enrollment.id%}"
                        >{{school_enrollment.first_name}}
                        {{school_enrollment.school}}</a
                      >
                    </td>
                    <td>{{school_enrollment.school}}</td>
                    <td>{{school_enrollment.championship}}</td>
                    <td>{{school_enrollment.sport}}</td>

                    <td>
                      <a
                        href="{% url 'team_album' school_enrollment.id%}"
                        class="btn btn-primary"
                        >Album</a
                      >
                      <a
                        href="{% url 'team_accred' school_enrollment.id%}"
                        class="btn btn-info"
                        >Accreditation</a
                      >
                      <a
                        href="{% url 'team_cert' school_enrollment.id%}"
                        class="btn btn-success"
                        >Certificate</a
                      >
                    </td>
                  </tr>

                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
