{% extends "horizon/dascore.html" %}
<!---->
{% load static %}
<!---->

{% block title %} | UGANDA PRIMARY SCHOOLS SPORTS ASSOCIATION{% endblock %}
<!---->
{% block content %}
<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="mb-4">
            <h3>{{ school_enrollment.championship.name }} - {{ school_enrollment.sport}}</h3>
          </div>
        </div>
      </div>
      <div>
        <!-- row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header d-md-flex border-bottom-0">
                <div class="flex-grow-1">
                
                  <button                    href="#!"
                  class="btn btn-primary"
                  id="contact-modal-button"
                  data-bs-toggle="modal"
                  data-bs-target="#contac-modal">Enroll athletes</a>
                </div>
                <div class="mt-3 mt-md-0">
                  <a
                    href="#!"
                    class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                    data-template="settingOne"
                  >
                    <i data-feather="settings" class="icon-xs"></i>
                    <div id="settingOne" class="d-none">
                      <span>Setting</span>
                    </div>
                  </a>

                
                  <a href="{% url 'team_album' school_enrollment.id%}" class="btn btn-outline-white ms-2">Album</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 ">
        {% if athlete_enrollments %}
        <div class="row">
          {% for enrollment in athlete_enrollments %}
          {% for athlete in enrollment.athletes.all %}
          <div class="col-lg-4 col-12">
            <!-- card -->
            <div class="card mb-5 rounded-3">
              <div>
               
              </div>
              <!-- avatar -->
              <div class="avatar avatar-xl mt-n7 ms-4">
                <img src="{{athlete.photo.url}}" alt="Image" class="rounded-circle border-4
                  border-white-color-40">
              </div>
              <!-- card body -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="mb-1">{{athlete.fname}} {{athlete.lname}}</h4>
                <p>{{athlete.lin}}</p>
                <p>{{athlete.gender}} | {{athlete.age}}</p>
           
                <div>
                  <!-- Dropdown -->
                  <div class="d-flex justify-content-between
                    align-items-center">
                    
                    
                      <form method="POST" action="{% url 'remove_athlete' enrollment.id athlete.id %}"class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                            data-template="trashOne"> {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i data-feather="trash-2" class="icon-xs"></i></button>
                            <div id="trashOne" class="d-none">
                              <span>Remove</span>
                            </div>
                          </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row -->
          {% endfor %}
          {% endfor %}
        </div>
        {% else %}
        <p>No athletes enrolled yet.</p>
        {% endif %}
      </div>
    </div>
  </div>

<div
class="modal fade"
id="contac-modal"
tabindex="-1"
aria-labelledby="contact-modal-label"
aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enroll Athletes</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="school-long">
            <form method="post">
              {% csrf_token %}
              <table class="table">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Athlete ID</th>
                  </tr>
                </thead>
                <tbody>
                  {% for athlete in all_athletes %}
                  <tr>
                    <td>
                      <input
                        type="checkbox"
                        id="athlete_{{ athlete.id }}"
                        name="athletes"
                        value="{{ athlete.id }}"
                      />
                    </td>
                    <td>{{ athlete.fname }}</td>
                    <td>{{ athlete.lname }}</td>
                    <td>{{ athlete.athlete_id }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <button type="submit" class="btn btn-success">Add Selected Athletes</button>
            </form>
          </div>
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}
        