{% extends "horizon/dascore.html" %}
<!---->
{% load static %} {% block content %}
<div id="app-content">
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row align-items-center">
        <!-- col -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <!-- Bg -->
          <div
            class="pt-20 rounded-top"
            style="
              background: url(https://wallpapers.com/images/high/high-resolution-blue-background-1920-x-1080-9ievy5j853ofx6e1.webp)
                no-repeat;
              background-size: cover;
            "
          ></div>

          <div class="card rounded-bottom smooth-shadow-sm">
            <div
              class="d-flex align-items-center justify-content-between pt-4 pb-6 px-4"
            >
              <div class="d-flex align-items-center">
                <!-- avatar -->
                <div
                  class="avatar-xxl avatar-indicators avatar-online me-2 position-relative d-flex justify-content-end align-items-end mt-n10"
                >
                  {% if officer.photo %}
                  <img
                    src="{{officer.photo.url}}"
                    class="avatar-xxl rounded-circle border border-2"
                    alt="Image"
                  />
                  {% else %}
                  <img
                    src="{% static 'images/uni.png' %}"
                    class="avatar-xxl rounded-circle border border-2"
                    alt="Image"
                  />
                  {% endif %}
                </div>
                <!-- text -->
                <div class="lh-1">
                  <h2 class="mb-0">
                    {{officer.first_name}}{{officer.last_name}}
                    <a href="#!" class="text-decoration-none"> </a>
                  </h2>
                  <p class="mb-0 d-block">{{officer.email}}</p>
                </div>
              </div>
              <div>
                <a
                  href="{% url 'editofficer' officer.id%}"
                  class="btn btn-outline-primary d-none d-md-block"
                  >Edit Profile</a
                >
              </div>
            </div>
            <!-- navs -->

            <!-- navs -->
          </div>
        </div>
      </div>
      <div>
        <!-- row -->
        <div class="row mt-6">
          <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100">
              <!-- card body -->
              <div class="card-header">
                <h4 class="mb-0">About</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive table-card">
                  <table class="table text-nowrap table-centered mb-0">
                    <tbody>
                      <tr>
                        <td>Email</td>
                        <td>{{officer.email}}</td>
                      </tr>
                      <tr>
                        <td>Contact</td>
                        <td>{{officer.phone_number}}</td>
                      </tr>
                      <tr>
                        <td>NIN</td>
                        <td>{{officer.nin}}</td>
                      </tr>
                      <tr>
                        <td>Gender</td>
                        <td>{{officer.gender}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100">
              <!-- card body -->
              <div class="card-header">
                <h4 class="mb-0">Address</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive table-card">
                  <table class="table text-nowrap table-centered mb-0">
                    <tbody>
                      <tr>
                        <td>Date of birth</td>
                        <td>{{officer.date_of_birth}}</td>
                      </tr>
                      <tr>
                        <td>District</td>
                        <td>{{officer.district}}</td>
                      </tr>
                      <tr>
                        <td>Region</td>
                        <td>{{officer.region}}</td>
                      </tr>
                      <tr>
                        <td>Status</td>
                        <td>{{officer.status}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
