{% extends "horizon/dascore.html" %}
<!---->
{% load static %}
<!---->

{% block title %}{{official.fname}} {{official.lname}}
<!---->
{% endblock %}

<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="athlete-dew content-wrapper">
        <div class="athlete flex">
          <div class="img-ath">
            <img src="{{official.photo.url}}" alt="" />
          </div>
          <div class="line-ath">
            <h1>{{official.name}}</h1>
            <p>{{official.email}}</p>
            <hr />
            <div class="small-details grid2">
              <span
                >National Identification number:
                <h3>{{official.nin}}</h3></span
              >
              <span
                >Role:
                <h3>{{official.role}}</h3></span
              >

              <span
                >Contact:
                <h3>{{official.phone_number}}</h3></span
              >

              <span
                >Date of Birth:
                <h3>{{official.date_of_birth}}</h3></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
