{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}{{swimmer.first_name}} {{swimmer.last_name}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-den">
  <div class="head flex">
    <h1>{{swimmer.first_name}} {{swimmer.last_name}}</h1>
  </div>
  <div class="image-box flex">
    <img src="{{swimmer.photo.url}}" alt="" />
    <div class="details">
      <li>{{swimmer.school}}</li>
      <li>{{swimmer.gender}}</li>
      <li>{{swimmer.date_of_birth}}</li>
      <li>{{swimmer.category}}</li>
      <li>{{swimmer.classroom}}</li>
    </div>
  </div>
</div>

{% endblock %}
