{% extends "core/Base.html" %}
<!---->
{%load static%}
<!---->
{% block title %}Create School{% endblock %}
<!---->
{% block content %}

<style>
  .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .alert-error {
    background-color: #ff3333;
    color: white;
  }

  .alert-success {
    background-color: #4caf50;
    color: white;
  }

  .alert-warning {
    background-color: #ff9800;
    color: white;
  }

  .alert-info {
    background-color: #2196f3;
    color: white;
  }
</style>
<div class="profile-update">

  <div class="school">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>  {% endif %}
    <form
      action=""
      method="POST"
      class="form-control"
      enctype="multipart/form-data"
    >
      <div class="top">Register school</div>
      {% csrf_token %}
      <div class="schoolt">
        <h2>School Info</h2>

        <div class="fields">
          <div class="left">
            <div class="imgbox">
              <div class="field">
                <label>{{form.badge.label}} </label>
                <div id="badge_preview" class="preview-container aa"></div>
              </div>
              <div class="field">
                <input
                  type="file"
                  name="badge"
                  accept="image/*"
                  id="id_badge"
                />
              </div>
            </div>
            <div class="fiil">
              <div class="field">
                <label>{{ form.school_name.label}}</label>
                {{form.school_name}}
              </div>

              <div class="field">
                <label>{{ form.center_number.label}}</label>
                {{form.center_number}}
              </div>

              <div class="field">
                <label>{{ form.EMIS.label}} </label>{{form.EMIS}}
              </div>

              <div class="field">
                <label>District:</label>
                {{form.district}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="schoolt">
        <h2>Head Teacher</h2>

        <div class="fields">
          <div class="left">
            <div class="imgbox">
              <div class="field">
                <label>{{form.photo.label}} </label>
                <div id="photo_preview" class="preview-container"></div>
              </div>
              <div class="field">
                <input
                  type="file"
                  name="photo"
                  accept="image/*"
                  onchange="displayImage2(this);"
                  id="id_photo"
                />
              </div>
            </div>
            <div class="fiil">
              <div class="field-group grid2">
                <div class="field">
                  <label>First Name</label>
                  {{form.fname}}
                </div>
                <div class="field">
                  <label>Last Name</label>
                  {{form.lname}}
                </div>
              </div>
              <div class="field-group grid2">
                <div class="field">
                  <label>{{ form.nin.label}}</label>
                  {{form.nin}}
                </div>

                <div class="field">
                  <label>{{ form.email.label}} </label>{{form.email}}
                </div>
              </div>

              <div class="field">
                <label>Phone:</label>
                {{form.phone_number}}
              </div>
              <div class="field">
                <label>gender</label>
                {{form.gender}}
              </div>
              <div class="field">
                <label>Date of Birth</label>
                {{form.date_of_birth}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="schoolt">
        <h2>Games Teacher</h2>

        <div class="fields">
          <div class="left">
            <div class="imgbox">
              <div class="field">
                <label>Photo </label>

                <div id="gphoto_preview" class="preview-container"></div>
              </div>
              <div class="field">
                <input
                  type="file"
                  name="gphoto"
                  accept="image/*"
                  onchange="displayImage1(this);"
                  id="id_gphoto"
                />
              </div>
            </div>
            <div class="fiil">
              <div class="field-group grid2">
                <div class="field">
                  <label>First name</label>
                  {{form.gfname}}
                </div>
                <div class="field">
                  <label>Last name</label>
                  {{form.glname}}
                </div>
              </div>
              <div class="field-group grid2">
                <div class="field">
                  <label>NIN:</label>
                  {{form.gnin}}
                </div>
                <div class="field"><label>Email </label>{{form.gemail}}</div>
              </div>

              <div class="field">
                <label>Phone</label>
                {{form.gphone}}
              </div>
              <div class="field">
                <label>Gender</label>
                {{form.ggender}}
              </div>
              <div class="field">
                <label>Date of birth</label>
                {{form.gdate_of_birth}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Save school</button>
    </form>
  </div>
</div>

{% endblock %}
