{% extends "horizon/dascore.html" %}
<!---->
{% load static %}
<!---->
{%block title%}{{school}}{% endblock %}
<!---->
{% block content %}
<div id="app-content">
  <!-- Container fluid -->
  <div class="app-content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page header -->
          <div class="mb-4">
            <h3 class="mb-0">{{school.school_name}}</h3>
          </div>
        </div>
      </div>
      <div>
        <!-- row -->
        <div class="row">
          <div class="col-xxl-4 col-lg-4">
            <div class="card" id="contact-view-detail">
              <div class="card-body border-bottom">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    {% if school.badge %}
                    <img
                      src="{{school.badge.url}}"
                      alt=""
                      class="img-4by3-sm rounded-3"
                      style="height: 50px; object-fit: cover"
                    />
                    {% else %}
                    <img
                      src="{% static 'images/fav.png'%}"
                      alt=""
                      class="img-4by3-sm rounded-3"
                      style="height: 50px; object-fit: cover"
                    />{% endif %}

                    <div class="ms-4">
                      <h3 class="mb-0 fs-4" id="view-detail-name">
                        {{school.school_name}}
                      </h3>
                    </div>
                  </div>
                  <div>
                    <div class="dropdown">
                      <a
                        class="btn btn-ghost btn-icon btn-sm rounded-circle"
                        href="#!"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i data-feather="more-vertical" class="icon-xs"></i>
                      </a>

                      <ul class="dropdown-menu">
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Action</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Another action</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h4>School information</h4>
                <div class="mt-4">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>EMIS:</span
                      ><span id="view-detail-email-id">{{school.EMIS}}</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Center Number:</span
                      ><span id="view-detail-phone"
                        >{{school.center_number}}</span
                      >
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>District:</span
                      ><span id="view-detail-phone">{{school.district}}</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Region:</span
                      ><span id="view-detail-phone">{{school.region}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-lg-4">
            <div class="card" id="contact-view-detail">
              <div class="card-body border-bottom">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    {% if school.photo %}
                    <img
                      src="{{school.photo.url}}"
                      alt=""
                      class="img-4by3-sm rounded-3"
                      style="height: 50px; object-fit: cover"
                    />
                    {% else %}
                    <img
                      src="{% static 'images/fav.png'%}"
                      alt=""
                      class="img-4by3-sm rounded-3"
                      style="height: 50px; object-fit: cover"
                    />{% endif %}

                    <div class="ms-4">
                      <h3 class="mb-0 fs-4" id="view-detail-name">
                        {{school.fname}} {{school.lname}}
                      </h3>
                      <small>{{school.email}}</small>
                    </div>
                  </div>
                  <div>
                    <div class="dropdown">
                      <a
                        class="btn btn-ghost btn-icon btn-sm rounded-circle"
                        href="#!"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i data-feather="more-vertical" class="icon-xs"></i>
                      </a>

                      <ul class="dropdown-menu">
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Action</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Another action</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h4>Headteacher's information</h4>
                <div class="mt-4">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Phone:</span
                      ><span id="view-detail-email-id">{{school.phone_number}}</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>ID Number:</span
                      ><span id="view-detail-phone"
                        >{{school.nin}}</span
                      >
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Date of Birth:</span
                      ><span id="view-detail-phone">{{school.date_of_birth}}</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Gender:</span
                      ><span id="view-detail-phone">{{school.gender}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-lg-4">
            <div class="card" id="contact-view-detail">
              <div class="card-body border-bottom">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    {% if school.gphoto %}
                    <img
                      src="{{school.gphoto.url}}"
                      alt=""
                      class="img-4by3-sm rounded-3"
                      style="height: 50px; object-fit: cover"
                    />
                    {% else %}
                    <img
                      src="{% static 'images/fav.png'%}"
                      alt=""
                      class="img-4by3-sm rounded-3"
                      style="height: 50px; object-fit: cover"
                    />{% endif %}

                    <div class="ms-4">
                      <h3 class="mb-0 fs-4" id="view-detail-name">
                        {{school.gfname}} {{school.glname}}
                      </h3>
                      <small>{{school.gemail}}</small>
                    </div>
                  </div>
                  <div>
                    <div class="dropdown">
                      <a
                        class="btn btn-ghost btn-icon btn-sm rounded-circle"
                        href="#!"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i data-feather="more-vertical" class="icon-xs"></i>
                      </a>

                      <ul class="dropdown-menu">
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Action</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Another action</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item d-flex align-items-center"
                            href="#!"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h4>Games teacher's information</h4>
                <div class="mt-4">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Phone:</span
                      ><span id="view-detail-email-id">{{school.gphone}}</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>ID Number:</span
                      ><span id="view-detail-phone"
                        >{{school.gnin}}</span
                      >
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Date of Birth:</span
                      ><span id="view-detail-phone">{{school.gdate_of_birth}}</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center ps-0"
                    >
                      <span>Gender:</span
                      ><span id="view-detail-phone">{{school.ggender}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Athletes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Officials</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Teams</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <!-- row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive table-card">
                  <table
                    id="example"
                    class="table text-nowrap table-centered mt-0"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Names</th>
                        <th>Lin</th>
                        <th>School</th>
                        <th>Gender</th>
                        <th>Sport</th>
                        <th>Age</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for athlete in athletes%}
                      <tr>
                        <td>
                          <a href="{% url 'athlete' athlete.id%}"
                            >{{athlete.fname}} {{athlete.lname}}</a
                          >
                        </td>
                        <td>{{athlete.lin}}</td>
                        <td>{{athlete.school}}</td>
                        <td>{{athlete.gender}}</td>
                        <td>{{athlete.sport}}</td>

                        <td>{{athlete.age}}</td>
                      </tr>

                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">  
          <div class="card">        
          <div class="card-body">
          <div class="table-responsive table-card">
            <table
              id="official"
              class="table text-nowrap table-centered mt-0"
              style="width: 100%"
            >
              <thead class="table-light">
                <tr>
                  <th>Official</th>
                  <th>School</th>
                  <th>Role</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for official in officials %}
                <tr>
                  <td>
                  
                          <a
                            href="{% url 'official' official.id%}"
                            class="text-inherit"
                            >{{official.name}}
                          </a>
                 
                  </td>
                  <td>{{official.school}}</td>
                  <td>{{official.role}}</td>
                  <td>{{official.phone_number}}</td>

                  <td>
                    <span class="badge badge-success-soft"
                      >{{official.email}}</span
                    >
                  </td>
                  <td>
                    <a
                      href="#!"
                      class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                      data-template="eyeOne"
                    >
                      <i data-feather="eye" class="icon-xs"></i>
                      <div id="eyeOne" class="d-none">
                        <span>View</span>
                      </div>
                    </a>
                    <a
                      href="#!"
                      class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                      data-template="editOne"
                    >
                      <i data-feather="edit" class="icon-xs"></i>
                      <div id="editOne" class="d-none">
                        <span>Edit</span>
                      </div>
                    </a>
                    <a
                      href="#!"
                      class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                      data-template="trashOne"
                    >
                      <i data-feather="trash-2" class="icon-xs"></i>
                      <div id="trashOne" class="d-none">
                        <span>Delete</span>
                      </div>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div></div>
        </div></div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          
        <div class="filter card">
          <div class="filterlist card-body">
            <div class="table-responsive table-card">
              <table
                id="example"
                class="table text-nowrap table-centered mt-0"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Names</th>
                    <th>School</th>
                    <th>Championship</th>
                    <th>Sport</th>
                    <th>Reports</th>
                  </tr>
                </thead>
                <tbody>
                  {% for school_enrollment in enrollments %}
                  <tr>
                    <td>
                      <a
                        href="{% url 'school_enrollment' school_enrollment.id%}"
                        >{{school_enrollment.first_name}}
                        {{school_enrollment.school}}</a
                      >
                    </td>
                    <td>{{school_enrollment.school}}</td>
                    <td>{{school_enrollment.championship}}</td>
                    <td>{{school_enrollment.sport}}</td>

                    <td>
                      <a
                        href="{% url 'team_album' school_enrollment.id%}"
                        class="btn btn-primary"
                        >Album</a
                      >
                      <a
                        href="{% url 'team_accred' school_enrollment.id%}"
                        class="btn btn-info"
                        >Accreditation</a
                      >
                      <a
                        href="{% url 'team_cert' school_enrollment.id%}"
                        class="btn btn-success"
                        >Certificate</a
                      >
                    </td>
                  </tr>

                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div >
        <!-- row -->
  
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}
